[2018-02-28 18:40] ababaian opened #1 "First Organizational Meeting - March 12th 6 pm"
It's time to start organizing hackseq18!

We'll hold the first meeting, the week of 6pm on the March 12-16th (please fill out the poll below). The objective of the meeting will be to organize ourselves into a working group, divide tasks and establish a timeline of when/what needs to be accomplished.

Previous organizers (@hackseq/steering_committee_2016 @jasgrewal @jakelever... more?) will be pres

[2018-02-28 18:52] sjackman commented on #1
I have a particularly full week that week. I could possibly make Tue or Thu night, but don't schedule around me.

[2018-03-13 16:44] ababaian commented on #1
# Action Items
- [ ] Send out recruitment email to hackseq mailing list asking for people interested helping in organization. Ideally ~10 total. ( Jen )
- [ ] Send out email to the previous team leaders and ask for an update on the project if there are any. We can use this for sponsorship/team lead recruitment going forward ( ? )
- [x] Start Private Repo for hackseq 18, add organizers as admins (

[2018-03-13 17:05] jenjaelin commented on #1
I'd be happy to take on either of the email tasks. Is there any sort of template or reference I can follow off of?

J

[2018-03-13 20:03] emreerhan commented on #1
I talked to @sjackman , he said he would be willing to lead a team and help out with setting up Orca. Although he wants to avoid being the go-to tech support guy.

[2018-03-13 21:24] ababaian commented on #1
@jenjaelin Great, can you do the organizational email? I can get you hooked up with the hackseq email account.

Maybe once you draft it up, open an issue and post it there and we can figure out what else would have to go into it.

[2018-03-13 22:08] jenjaelin commented on #1
yep sounds good! basically a "hey, we're looking for people interested in organizing hackseq -insert blurb about what we are-" ?

[2018-03-13 22:56] ababaian commented on #1
The email will go out the hackseq mailing list so you can assume people know who we are and the majority of those people will have participated in a hackseq event previously. I think it's just about getting people excited about it (i.e. why would they enjoy helping organize a hackathon?)

[2018-03-13 23:01] ababaian commented on #1
Hey @jasgrewal,

One of the rumours that came up during the meeting is that you'd be willing to help out with organizing the location (assuming it's LSI again). If this is true I'll add you to the organizing committee and we'll only bother you with business directly concerning the location?

[2018-03-13 23:02] jenjaelin commented on #1
cool cool I'll have a draft ready in the next few days.

[2018-03-15 18:38] baraaorabi commented on #1
Update: I got in touch with couple of my friends from my bioinformatics cohort: Sasha and Kristen. Sasha participated in Hackseq17 and Kristen is an organizer of SFU OMICS group.

I will also talk to some of the other OMICS organizers tomorrow after a workshop they are holding at SFU.

Sasha has a concern (which I also share) about whether we as organizers can still participate in Hackseq18. What

[2018-03-15 18:40] sjackman commented on #1
I was a team leader and organized Hackseq16, so it's possible to do both. You'll definitely need some organizers who are not participating, to focus on day-of logistics.

[2018-03-18 20:17] klgray25 commented on #1
Hi everyone! I heard that you are still looking for organizers for Hackseq 2018 and I would love to help out! Please let me know if there are still positions to fill and what I can do to get involved.
Best,
Kristen

[2018-03-19 16:49] ababaian commented on #1
Let's get the organizers to meet next week. @emreerhan  / @baraaorabi  can one of you organize? I'm in a bit of a time crunch until the 30th. Once we get a time I can get us a room at the BCCRC.

[2018-03-19 23:12] emreerhan opened #2 "2nd Organizational Meeting - Monday, March 26 - *Updated with Minutes"
We'll hold the second meeting, the week of March 26-30 (please fill out the poll below). The objective of the meeting will be to introduce the new organizational members, assign more roles, and give any updates.

We are aiming for 8-12 organizational members.

## We'll meet ** Monday, March 26 at 6pm** at the BCCRC

### [Poll Link](https://doodle.com/poll/qxhzvvwexa2i2h3p)

(Assign someone to take

[2018-03-19 23:13] emreerhan commented on #1
@ababaian I made a new issue. I haven't added agenda items, but I'll do so as I think of them. Feel free to add any.

[2018-03-20 05:06] ababaian opened #3 "Organizer Profiles"
Hey @hackseq/hs18_org ;

I'm updating the website. Would you each be able to provide me with

1) Name as you'd like listed
2) Affiliation
3) Contact Information
4) Portrait (1000 x 1000px)

These will go on the website and on the github repo.

[2018-03-21 15:53] emreerhan commented on #2
Unless anyone has any major objections, let's meet Monday, March 26th at 6:00pm at the CRC. @ababaian how can we book a space for us?

[2018-03-21 16:13] emreerhan commented on #3
1. Emre Erhan
2. Jones' lab, Medical Genetics, UBC
3. eerhan@bcgsc.ca
4. https://drive.google.com/open?id=18h3Vgq6g-_RxUnhEmU2SeGtIBYpiHFq8

[2018-03-21 16:40] ababaian commented on #2
Let's meet in the lobby again and I'll have a room for us.

[2018-03-21 17:01] jenjaelin commented on #3
1. Jennifer Lin
2. Medical Genetics, UBC (MSc student)
3. jennifer.jae.lin@gmail.com
4. https://photos.app.goo.gl/MADSazIuI3BZZA6C3

[2018-03-21 17:38] jenjaelin opened #4 "Organization recruitment email"
Below is a draft of the email for organization recruitment. All criticism is welcome.
------------------
Hi there!

hackseq is coming back for fall 2018 and we are currently looking for enthusiastic organizers to help make this happen.

Hackathons gather the brightest minds who are always ready to learn and build something new just because they can. As organizers, our job is to bring the weekend t

[2018-03-21 19:07] baraaorabi commented on #3
1. Baraa Orabi
2. Department of Computing Science at Simon Fraser University
3. borabi@sfu.ca
4. Attached:
![img_20161011_135651](https://user-images.githubusercontent.com/6283321/37731793-610d8d10-2d00-11e8-8bf2-16263246f61c.jpg)

[2018-03-21 21:34] klgray25 commented on #4
Just one quick correction from me! I think you missed a word in the third paragraph. It should be something like this:

Along the way you will be asked to do THINGS you have never done before, but that's how you learn right?

Not sure if "things" is the right word, but something needs to go there. Looks great otherwise!

[2018-03-21 21:45] jenjaelin commented on #4
ah oops! I had "things" there before but didn't like the word and apparently subconsciously decided not to include a blank there either.

anyone have any better suggestions?

[2018-03-21 21:59] ababaian commented on #4
=D Looks good.

[2018-03-22 00:32] vlauu commented on #2
Hi all, I just learn about this opportunity and would love to help out! Look forward to meeting you all at the upcoming meeting :)  - Venus

[2018-03-22 17:10] NoushinN commented on #2
Hi everyone! looking forward to meeting all and helping out Monday 26th :) - Noushin

[2018-03-23 15:08] ababaian commented on #3
@jenjaelin I think that's the best profile photo I've ever seen.

[2018-03-23 16:40] ababaian opened #5 "hackseq18 applications webpage."
Hey gang,

I've put together a rough draft of a webpage for the hackseq18 applications. I thought i'd change it up a bit from the main site look / feel and go retro win95.

[Take a look](https://hackseq.github.io/hs18/), let me know what you think and if there's any suggestions to improve or bugs on your systems. I haven't gotten the tags (folders) working yet.

I'll need more informative text for

[2018-03-23 16:48] baraaorabi commented on #5
Whoa! This is awesome!

I gave it a try on my Android, and it is working smoothly, except for the
text logo which was wrapped around to fit my screen.

On Fri, Mar 23, 2018, 9:42 AM Artem Babaian <notifications@github.com>
wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-03-23 17:17] ababaian commented on #5
I blame pesky smartphone text widths for the death of ASCII art.

-----------------------------------------

Website is now online https://hackseq.github.io/hs18/

Let me know if you find any typo or anything

[2018-03-23 19:19] alexsweeten commented on #3
1. Alex Sweeten
2. Computing Science, SFU (MSc student)
3. asweeten@sfu.ca
4. https://drive.google.com/file/d/1IH5Q4BPXjq5Ef01NRxYEOpttogJDEnf1/view

[2018-03-26 00:17] klgray25 commented on #3
1. Kristen Gray
2. Bioinformatics/Molecular Biology and Biochemistry, SFU (MSc student)
3. klgray@sfu.ca
4. https://drive.google.com/file/d/1Bf_JpBuvm_MNrK1tSyxXaBg3Gz86i84U/view?usp=sharing

[2018-03-26 16:49] ababaian commented on #2
See you all tonight!

[2018-03-26 17:00] baraaorabi commented on #2
Cya

On Mon, Mar 26, 2018 at 9:49 AM Artem Babaian <notifications@github.com>
wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-03-26 22:47] vlauu commented on #3
1.  Venus Lau
2. Molecular Biology and Biochemistry, SFU (MSc Student)
3. venusl@sfu.ca
4. https://drive.google.com/open?id=1s2x_0_Xxd6cFEn2To_LREo51RLg8ajFp

[2018-03-27 02:59] jenjaelin commented on #2
updated the first comment with the minutes.

[2018-03-27 03:09] jenjaelin opened #6 "3rd Organizational Meeting - April 17th 6PM *Updated with Minutes"
Aiming for the middle of April to do some finalization of Team Leader applications.

**Poll for next meeting** - https://www.when2meet.com/?6790902-quYXX
Since I cannot for the life of me figure out how to make a poll I'm linking to a separate site for that. If anyone can direct me on how to embed a poll, that works too.

As much as I prefer that we stay in Metro Vancouver, I recognize that most o

[2018-03-27 03:44] smaslova commented on #3
1. Sasha Maslova
2. MSc Bioinformatics, UBC
3. sasha113@gmail.com
4. https://drive.google.com/file/d/1cgUk7GsNI9dpuxd_8kjLUwEBRluor830/view?usp=sharing

[2018-03-27 03:46] bfjia commented on #3
1. Justin Jia
2. MSc. SFU Molecular Biology and Biochemistry, SFU Graduate Studies In Bioinformatics.
3. bja20@sfu.ca
4. http://bfjia.net/profile/img/profile.jpg

[2018-03-27 04:03] NoushinN commented on #3
Noushin Nabavi, PhD
Postdoctoral Fellow, UBC
nabavinoushin@gmail.com

![noushinnabavi](https://user-images.githubusercontent.com/37668936/37946067-3fa7e8be-3138-11e8-9d10-f35541ffe78a.jpg)

[2018-03-27 15:59] #4 closed

[2018-03-27 15:59] #1 closed

[2018-03-27 16:19] ababaian commented on #2
One thing I thought of is that we each should get a hold of last years organizers that had our position and take them out for coffee. This way they can each 'mentor' us into the new job. @jakelever do you have a list of what job everyone took?

[2018-03-27 19:33] jakelever commented on #2
Hey, here's a list of roles updated from https://github.com/hackseq/hackseq_2017/issues/3 . Apologies if I'm wrong on any of these.

Dan (dfornika): Fundraising, Food
Jasleen (jasgrewal): Venue, Website,
Jake (jakelever): Logistics, Fundraising, Food + Secretary
Arjun (abaghela): Social Media, Recruitment, Setup, Food
Lauren (lchong): ORCA, Technical Support, Recruitment
Celia (csiu): Leader recru

[2018-03-27 20:13] abaghela commented on #2
I was also the SCWIST contact. SCWIST took care of all our finances (donations, expenses). Have you guys reached out to them to confirm if they will be supporting Hackseq this year? Let me know and I can make the introduction.

[2018-03-27 21:10] ababaian commented on #2
@abaghela I have reached out to get up to date budget, haven't reached about about this upcoming year though. I can take care of this.

[2018-03-29 04:41] emreerhan opened #7 "Team lead applications"
Hey everyone,

I've modified the original team lead application form. You can find it here: https://goo.gl/forms/hVyZkEeXoPM3hD753. How does this look?

Note that I've put the dates Oct 12-14 as a placeholder in the application. I think that it would be nice to decide on the dates before we send out the applications. Additionally, I made the deadline May 30 for team lead applications. This might b

[2018-03-29 05:06] klgray25 commented on #7
The form looks great!

One question about the email. It was my understanding that we assign the participants to each project. The line "You can expect individuals from wide academic backgrounds to apply to join your team, after which YOU will select the best applicants for your project." makes it seem otherwise. Do the team leaders provide input on who joins their project? If not, this line should

[2018-03-29 06:18] NoushinN commented on #7
Agree! sounds really great, maybe we could also ask the recipients to pass the word along to their colleagues be it industry partners or academics to participate.

Question: do we accept co-leaders?

Cheers

[2018-03-29 08:03] baraaorabi commented on #7
@NoushinN: I think co-leader idea would be actually cool. I don't think we ever had that before, but it could be a good idea to try.

@emreerhan: Can you add undergrad student to the list? And perhaps reorder it so it is Prof/Indust/Grad/Undergrad?

[2018-03-29 16:17] emreerhan commented on #7
@klgray25 good call. I'll change that.

@NoushinN we haven't had co-leaders in previous years, but I think it's up to us if we want to this year.

@baraaorabi yes.

[2018-03-29 18:18] ababaian commented on #7
Nice work @emreerhan!

Can I suggest moving the Participant applications opening soon statement to paragraph 1 so that paragraph 2 subject is team leader applications (bolded).

Also provide a little bit of **motivation** as to why they should be super super excited to lead a team, how will it benefit them and others? i.e  `Have you had that crazy science idea kicking around and want to turn it in

[2018-03-29 19:21] NoushinN commented on #7
The team co-leader position would appeal to me more personally, as the problems are becoming more complex and multi-faceted and two minds sometimes work better than one.

We could match those who are interested to co-lead depending on project interests, maybe that could be an option on the form tick box for interested in being a co-leader?

We could modify this line in the email write ups if you f

[2018-03-29 19:40] baraaorabi commented on #7
I think it makes more sense for those interested in being co-leaders to
apply together. I think us matching co-leaders would be a non-easy task.

On Thu, Mar 29, 2018 at 12:21 PM Noushin Nabavi <notifications@github.com>
wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-03-29 20:24] ababaian commented on #7
I agree with Baraa, 100% let people apply as co-leaders if they know who to apply with. At hackseq16 the 10X genomics team had so many recruits and two really good leaders on one team that they split up day of and ran as two teams. I think what we should convey is that we'll do what's in our ability to make their project fly any way they see it. These are more *suggestions* as opposed to *rules*,

[2018-03-31 05:07] baraaorabi commented on #6
Hey,
We just got an email from a person interested in volunteering for organizing. Are still expanding the team? Or are we final on current team?

[2018-03-31 08:00] jenjaelin commented on #6
I'm of the "more the merrier" opinion. What does everyone else think?

[2018-04-02 05:40] emreerhan commented on #7
@everyone I updated the application form and the email above. I'm going to make a new issue to discuss the date that we should hold it.

[2018-04-02 05:46] emreerhan opened #8 "Date of Hackseq18"
Hi all,

I think we should discuss which weekend we want to hold Hackseq18 before sending out the team leader application request email. In October our options are:

- October 5-7 (note: October 8 is thanksgiving)
- October 12-14
- October 19-21
- October 26-28

I think October 12-14 or 19-21 make the most sense. Maybe we can make a poll and democratically choose a date after some discussion.

[2018-04-02 18:19] alexsweeten commented on #8
Hey everyone,

I've done some digging and haven't had much luck with finding a genomics or CS related conference in Vancouver that overlaps with our planned dates. The only tangentially related one I did find was the RecSys conference on recommender systems (https://recsys.acm.org/recsys18/), which I wouldn't recommend as it's during Thanksgiving weekend.

[2018-04-02 18:32] jasgrewal commented on #8
Sorry to butt in but very far-out-there idea: perhals consider reaching out to Will Hsiao, he is planning on a metagenomics / bioinfo conference in the city next year but if they have registrants early on by oct, perhaps you guys can hold a pre-conference hackathon or sthing?

[2018-04-02 18:52] klgray25 commented on #6
Sorry for the rather late reply. I would say we are good to have more people on board. However, you may want to warn them that tasks have already been divvied up. I'm sure we could find things for another person to do and they could help out where needed, but they may want to know the situation first.

[2018-04-02 18:55] NoushinN commented on #8
Also butting in here but BC Tech still has some room for exhibitors in their May summit, not sure how much it costs but we may be able to book a table to advertise hackseq https://bctechsummit.ca/exhibitors/

[2018-04-02 22:38] alexsweeten commented on #8
@jasgrewal Thanks for the suggestion! I have a meeting with Will tomorrow and can talk to him about it.

I've also reached out to my friend Jeff, who runs communications for Vancouver's [Student Biotechnology Network](http://www.thesbn.ca/) . They might be able to plan an event in tandem to HackSeq, or at the very least help advertise :)

[2018-04-03 00:36] baraaorabi commented on #6
So I basically referred them to the 3rd meeting issue few days ago. I
assume they will notice that this has been going for a while now, and
decide to join us accordingly.

On Mon, Apr 2, 2018 at 11:52 AM klgray25 <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-04-03 15:25] ababaian commented on #8
We should know a date in a few days; @smaslova got the contact person, we'll wait to hear back.

[2018-04-03 15:33] ababaian opened #9 "hackseq18 Art & Media"
I'm continually going to revamp some of the art and media on the website over the coming months. If you have any artistic abilities and want to help out with some aspect then feel free =D
I'm not particularly artistic so I lean heavily on making pretty graphs and then stylizing them.

*(work in progress)*

# [Core Design Assets](https://www.hackseq.com/design-assets/)

## Website banners / backgro

[2018-04-06 23:39] jenjaelin commented on #6
Update: Most people seem to be available April 18th so lets go for then at 6pm? Do you think we could do it at BCCRC again?

Homework: Send me/post what you want to add to the agenda for the meeting!

[2018-04-06 23:40] ababaian commented on #6
I can get a room at BCCRC for sure so yes. Perhaps SFU after then?

[2018-04-06 23:41] jenjaelin commented on #9
Hey! I do a bit of digital work, have some photoshop skills and a drawing tablet. Let me know if you want help designing anything from scratch :)

[2018-04-06 23:41] baraaorabi commented on #6
I will not be able to attend the next meeting. I will be in France for RECOMB from the 16th to the 24th. But looking at the availability of people we should still go for the 18th.

[2018-04-06 23:44] jenjaelin commented on #6
@ababaian  That would work. I'll add it to the agenda for the 3rd meeting to assign someone to find a place at SFU for us to use since I'm know nothing about the campus.

@baraaorabi any items you would like us to talk about? I can add them to the list so you can see feedback from the minutes afterwards

[2018-04-06 23:52] baraaorabi commented on #6
@jenjaelin: Sure! I will add stuff to the meeting issue. If I also meet one
of you guys before the meeting I can let them "debrief" me :-P

On Fri, Apr 6, 2018 at 4:44 PM jenjaelin <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-04-06 23:55] emreerhan commented on #6
I also cannot attend on the 18th, I'm flying to Turkey that day 💃.  I'll add any important items to the agenda before I leave.

[2018-04-06 23:57] baraaorabi commented on #6
Emre, I was counting on you to do the debriefing -_-

On Fri, Apr 6, 2018 at 4:55 PM Emre Erhan <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-04-06 23:57] jenjaelin commented on #6
@baraaorabi @emreerhan (P.S. have fun in Turkey)
No problem! Also if you want to send me a fuller set of notes beyond the short point form stuff that goes into the meeting agenda, feel free to do that. I'm also happy to meet either of you to get the "debrief" in person if you prefer :)

[2018-04-07 00:05] ababaian commented on #9
=D Nice nice @jenjaelin

I'd 100% be down for working together. Take a gander around the website and let's improve the art. I wrote a basic [Style Guide](https://github.com/hackseq/hackseq_2017_Private/blob/master/website/hackseq_StyleGuide.pdf) for hackseq.

Some of the things which would be nice are: Letterhead  for sponsorship / thank you letters. Slides which we can use to advertise hackseq at

[2018-04-07 00:06] ababaian commented on #6
@baraaorabi I think the meeting is on the **16th** and the application form is going live on the 18th

[2018-04-07 00:07] ababaian commented on #6
Hrmm if we're down our Team Leader Organizer then maybe we do the next best date?

[2018-04-07 00:15] emreerhan commented on #6
@ababaian the most important thing for team leader recruitment is for us to go over the draft email I wrote, the Google form, and finalize a date for Hackseq so we can put it in the email and form. I don't necessarily have to be there for these things.

[2018-04-07 00:16] jenjaelin commented on #9
Will do! Have anything particular in mind already besides the above? I'm swamped until Wednesday but after that we can mayhaps meet up and do some doodling if there was anything immediate that we wanted to have.

[2018-04-07 00:20] jenjaelin commented on #6
We might be okay if you annotate the letter with things that you aren't sure about/want input on as well as any questions you may have etc. Its completely up to you though. Because that is technically our priority for the meeting so if there is a lot you need to talk about it might be better to have the meeting the day before.

[2018-04-07 03:56] emreerhan commented on #6
@jenjaelin Now that I've mulled over this I think you guys are right, it is better that I'm there. Do you think we could do the evening of the 17th?

[2018-04-07 04:25] jenjaelin commented on #6
changed. I agree its probably best if you are there since that's the main topic haha.

[2018-04-08 20:39] NoushinN commented on #6
Hi team, I am sorry I can't make it April 17th and 19th 6-8PM, if you guys decide to go ahead, I will make sure to read the minutes. In the meanwhile, I am unable to login to our twitter account to tweet, have we changed the password? (could you please confirm with me at nabavinoushin@gmail.com)

[2018-04-09 16:14] ababaian commented on #9
What would be good is some Twitter/Facebook sized images or gifs we can use during Team Leader Recruitment. We could use some catchy art that would work for that.

[2018-04-09 16:30] baraaorabi commented on #6
@NoushinN: nope, it is still the same password. I just logged in to the twitter account using hackseq@gmail.com and it worked

[2018-04-09 16:33] NoushinN commented on #6
thank you @baraaorabi :) I think I was signing in and not logging in! :D Bonne Voyage to France!

[2018-04-10 23:41] ababaian opened #10 "[ Off Topic ] - bioSyntax Survey"
Hey gang,

Can I ask a small favor. Can you take ~5 minutes to complete [this questionnaire](https://goo.gl/forms/YO89fEPw71JpH3Ac2) about bioinformatics work-space. We had some questions for bioSyntax from a reviewer and we'd like to gather a little bit of data for future development and to to see if our assumptions hold true.

Also if you can email / share the link with anyone who is in computat

[2018-04-11 21:46] emreerhan commented on #10
Done!

[2018-04-12 20:06] bfjia commented on #6
Is the meeting set to be next Tuesday @ CRC?

[2018-04-12 20:14] jenjaelin commented on #6
Yep :) We will discuss alternative options of locations  for future
meetings then too.

On Thu, Apr 12, 2018 at 1:06 PM, imasianxd <notifications@github.com> wrote:

[2018-04-16 17:32] #10 closed

[2018-04-17 16:37] ababaian commented on #6
See you all tonight @hackseq/hs18_org

[2018-04-18 00:55] emreerhan commented on #6
Hey guys, I'm running a bit late. I'm waiting for the 84 at VCC right now.

[2018-04-18 01:06] jenjaelin commented on #6
give a call at 7787790398 when you get here.

On Tue, Apr 17, 2018 at 5:55 PM, Emre Erhan <notifications@github.com>
wrote:

[2018-04-18 02:07] jenjaelin commented on #9
Things we need
T-shirts
wallpapers
banners
splash page
Pixel art - draw something new

Edit:
Sticker / Band Logo Design

[2018-04-18 06:34] jenjaelin opened #11 "4th Organizational Meeting - Tues. May 15th at 6:00pm"
TBA for sometime early-mid May. Fill in the poll below before April 22nd please!

**Availability Poll:** https://www.when2meet.com/?6855190-ynxgM

# Agenda

## Team leader applications
- There are a number of team leader applications. What do you guys think about them?

# Minutes
## Team leader applications
- 4 so far - want at least 6
    - when should we extend and how long to extend to
- Are we

[2018-04-18 06:38] NoushinN commented on #11
Hi all, so sorry I am unable to use the when2meet...
I will make sure to make myself available for any of the evenings we meet, my preference will be to meet at BCCRC or UBC if at all possible but up to majority....

[2018-04-18 06:48] NoushinN commented on #6
Hi @jenjaelin, are the minutes for April 17th the one in this thread? was wondering what I missed today

[2018-04-18 17:31] jenjaelin commented on #11
Oh that's really weird! What about it doesn't work? I'll try to find a
better option that works for everyone.

On Tue, Apr 17, 2018 at 11:38 PM, Noushin Nabavi <notifications@github.com>
wrote:

[2018-04-18 17:31] jenjaelin commented on #6
Hi! Yes the minutes are what are below the agenda.

Cheers,
J

On Tue, Apr 17, 2018 at 11:48 PM, Noushin Nabavi <notifications@github.com>
wrote:

[2018-04-18 20:36] jenjaelin commented on #9
![image](https://user-images.githubusercontent.com/37309499/38956799-865c8b8e-430d-11e8-9e8a-39f3a28cc75d.png)
anyone remember 90s solo cups?

[2018-04-18 22:19] ababaian commented on #9
@hackseq/hs18_org

As requested: email signature pack (2 examples)

[hs_email_signiture.zip](https://github.com/hackseq/hackseq18/files/1925968/hs_email_signiture.zip)

[2018-04-18 22:23] bfjia commented on #9
both signatures looks pretty good (Y)

[2018-04-20 05:36] emreerhan commented on #6
Hi all,

I messaged Jasleen, she said she can definitely make an announcement at next Vanbug for team lead apps, and requested that we make a slide that she can show at the beginning of the meeting.

She then said that last year hackseq and vanbug were community partners. If we want to continue the partnership we should write an email with the dates we decided on, mentioning how we were partners b

[2018-04-20 05:37] emreerhan commented on #7
If I have everyone's blessing, we can start circulating the email above and link the survey to our website.

[2018-04-20 17:50] klgray25 commented on #6
If someone (perhaps from the graphics working group) want to make the slide, I'd be happy to get in touch with Jasleen for VanBUG partnership and aid in distributing the team lead info.

[2018-04-20 18:38] ababaian commented on #9
## Request: [Team Leader Slide](https://github.com/hackseq/hackseq18/issues/6)

Anyone up for doing this?

[2018-04-20 23:44] NoushinN commented on #9
I am really liking the ramone's theme, I can put something together, but what is the text I should promote?

[2018-04-20 23:59] jenjaelin commented on #9
probably the following:

- Date of event
- What it is
- Why/who should apply
- Deadline for applications
- link to more info

[2018-04-21 00:00] ababaian commented on #9
I think a reworked version of hte email text

[2018-04-21 00:03] jenjaelin commented on #6
I can do the email this weekend

[2018-04-21 21:31] ababaian commented on #7
Hey @emreerhan,

Would you be willing to draft up the team leader application text for the [webpage](https://hackseq.github.io/hs18/2018/03/16/team-leads.txt.html) that you'd like on there?

[2018-04-23 01:56] vlauu commented on #11
I will have to miss the next meeting again (out of town from May 5th to 26th). Apologies for the absence and delay, I should be able to start sending out sponsorship emails once the draft is updated!

[2018-04-23 18:34] alexsweeten commented on #9
![rise-against-hack-seq](https://user-images.githubusercontent.com/7028404/39145873-f3f72b4c-46e9-11e8-9e1a-4ed128109fc2.png)

Had some time to kill and whipped up a Rise Against theme.

[2018-04-23 18:36] ababaian commented on #9
@SweetiePi That's sick man.

[2018-04-23 18:37] jenjaelin commented on #9
That looks awesome!

On Mon, Apr 23, 2018 at 11:36 AM, Artem Babaian <notifications@github.com>
wrote:

[2018-04-23 20:08] abaghela opened #12 "SCWIST contact"
Hi everyone,

Is SCWIST helping hackseq18 with accounting and finances? If so, do you guys have a main contact person? I was the contact last year and there are still expenses outstanding from hackseq17. They have not gotten back to me the last couple times I emailed them. Please let me know.

Arjun

[2018-04-23 21:16] jenjaelin commented on #7
Below is the email draft for VanBUG:

I don't particularly like the bolded line, any suggestions?

[2018-04-23 21:39] ababaian commented on #12
Hey @abaghela,
I'll email you the contact.

[2018-04-23 21:39] #12 closed

[2018-04-24 17:36] alexsweeten commented on #9
![pokemon-hackseq](https://user-images.githubusercontent.com/7028404/39203916-10b74840-47ab-11e8-903d-0ee118e9f6b5.jpg)

Experimented with a Pokemon theme, fits a little more to the 90' aesthetic.

[2018-04-24 17:42] ababaian commented on #9
Man you're killing it @SweetiePi. One general note though hackseq is one word, first `h` is lowercase whenever possible, so maybe hackSEQ. ;)

OK:  `hackseq`, `HACKSEQ`, `hackSEQ`, `hackseq18` ...

Avoid: `Hackseq`, `HackSeq`, `Hackseq2018` ...

Edit: Also I'm uploading high resolution images for us to use at `https://github.com/hackseq/hackseq18/tree/master/media`

[2018-04-24 17:45] alexsweeten commented on #9
@ababaian Sure thing. I'll fix that up in the previous two images.

Also if no one has claimed the team leader slide, I can finish that up by today.

[2018-04-24 17:48] jenjaelin commented on #9
That's adorable! Idk if it'll kill the pokemon esthetic to change it to "a
wild type trait/phenotype" but I love it the way it is too!

On Tue, Apr 24, 2018 at 10:42 AM, Artem Babaian <notifications@github.com>
wrote:

[2018-04-25 01:22] jenjaelin commented on #11
I know I said deadline for voting on a date for availability was April 22nd, but given only 4 people who voted, I'm going to leave it for another day. If you can't attend at all, can you post here just so I have an idea of who's seen this and who hasn't? Thanks muchly!!

[2018-04-25 15:51] NoushinN commented on #9
![screen shot 2018-04-25 at 8 49 27 am](https://user-images.githubusercontent.com/37668936/39257146-ab3ff924-4865-11e8-81e1-8a848dcc045a.png)

Here's an attempt...any suggestions?

[2018-04-25 15:52] NoushinN commented on #9
Here's an attempt...any suggestions?

![screen shot 2018-04-25 at 8 52 22 am](https://user-images.githubusercontent.com/37668936/39257273-00dc58dc-4866-11e8-9241-3d3f60d256c2.png)

[2018-04-25 16:01] NoushinN commented on #9
This?

![screen shot 2018-04-25 at 9 01 07 am](https://user-images.githubusercontent.com/37668936/39257802-3dad5cb0-4867-11e8-9034-ba4e1a877189.png)

[2018-04-25 16:05] NoushinN commented on #9
..
![screen shot 2018-04-25 at 9 04 53 am](https://user-images.githubusercontent.com/37668936/39258025-c70006b6-4867-11e8-9fe9-ce5e1a632c4b.png)

[2018-04-25 17:54] ababaian commented on #9
That's a good first draft @NoushinN. It's great we're all helping out (and it's fun) but we need to have a laser focus on what we're doing.

We need to have a clear definition though of what art/style we're going to use for promotional materials. The Ramones / Rage Against logos are for sticker designs, they aren't for promotion.

If we're going with the 90s theme for promotion then we should stic

[2018-04-25 18:13] NoushinN commented on #9
@ababaian great comments, you mean something like this?
![screen shot 2018-04-25 at 11 12 15 am](https://user-images.githubusercontent.com/37668936/39264375-956bdbd6-4879-11e8-8b4e-01cf9b155434.png)

[2018-04-25 18:17] ababaian commented on #9
That's great, I wouldn't use that exact tag-line with that image, it's kind of a play on words with pokemon, but if you can make a 1-2 sentence tag which emphasizes working together as a team and socializing then that fits the photo.

Also `Hackseq` should be `hackseq` with forced lowercase.

[2018-04-25 18:26] NoushinN commented on #9
oh! now catching the drift....how do you force lowercase?
![screen shot 2018-04-25 at 11 25 46 am](https://user-images.githubusercontent.com/37668936/39265176-6f66b4cc-487b-11e8-9fea-20d72739ffb9.png)

[2018-04-25 18:28] ababaian commented on #9
Nice! You can probably crop the `Hack SEQ` from the pokemon image to make it a bit bigger and that's a catchy poster ;)

Also I think that the pokemon image (with the top text removed) + that tagline would be a great tweet ; )

[2018-04-25 18:30] NoushinN commented on #9
Cool! thanks for the live chat @ababaian

![screen shot 2018-04-25 at 11 29 31 am](https://user-images.githubusercontent.com/37668936/39265392-ff6ac16c-487b-11e8-9bf1-ac5dd61cf9bd.png)

[2018-04-25 18:32] NoushinN commented on #9
![slide4](https://user-images.githubusercontent.com/37668936/39265489-3caa38be-487c-11e8-8b2e-1b1f859f4ed5.jpg)

Here's the final image attached

[2018-04-25 18:51] ababaian commented on #9
All final images at the highest resolution or raw formats should be deposited to the [`media folder`](https://github.com/hackseq/hackseq18/tree/master/media)

[2018-04-25 22:54] baraaorabi commented on #11
Hey! I will be attending. I have completed the poll. I believe Emre will not be attending since he's in Turkey.

[2018-04-25 23:10] baraaorabi commented on #7
@emreerhan The form was asking for the email addresses twice. I fixed it now.

[2018-04-25 23:11] baraaorabi commented on #3
@ababaian Artem, I don't think Noushin is a PDF :p
https://www.hackseq.com/who-we-are-1/

[2018-04-25 23:29] NoushinN commented on #3
@baraaorabi @ababaian I finished my PDF term 2 months ago today!,,,still going by that title as I have access to emails etc. up to a few more months (submitting/working on manuscripts) but if you are uncomfortable, you can change my title to entrepreneur

[2018-04-25 23:51] klgray25 commented on #5
Hey Artem,

I noticed that the FAQ links under the sections "I have an idea for a project" (which should link to the team leader application), as well as "Can I still participate without leading a team?" (which should link to the page for joining the mailing list) are broken. Just thought it would be good to check things that should lead to the team lead applications and I found those.

Best,
Kris

[2018-04-25 23:54] baraaorabi commented on #3
OMG I feel horrible. I never thought that PDF means postdoctoral fellowship
(i hope that what it means :-P). I just thought that it was a typo and
supposed to be PhD (and not the file format PDF 😬)

On Wed, Apr 25, 2018, 4:29 PM Noushin Nabavi <notifications@github.com>
wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-04-26 00:52] ababaian commented on #5
Thanks. Fixed.

[2018-04-26 01:47] NoushinN commented on #3
@baraaorabi 😆  that would be too many typos, don't think Artem is capable :D
are you back from recomb?

[2018-04-26 02:50] baraaorabi commented on #3
Yes! I got here last night.

On Wed, Apr 25, 2018, 6:47 PM Noushin Nabavi <notifications@github.com>
wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-04-26 14:12] emreerhan opened #13 "Promoting Team Lead Applications"
Hi all,

@ababaian correctly pointed out that we should have a strategy for promoting team leader applications. Here's what I'm thinking:

## Social Media
@NoushinN I believe you wanted to take on our social media promotion. I will leave the specifics to you, but you should link directly to our website's team lead application [page ](https://hackseq.github.io/hs18/2018/03/16/team-leads.txt.html) s

[2018-04-26 14:34] NoushinN commented on #13
@emreerhan that sounds good, I was thinking of traffic metrics as well, is there a way to keep track of how many viewers we get on the hackseq website? mentioning that in proposal letters might assure sponsors that we have a viable and interested audience...does it have google ads?

...I need help on how to link the github page to tweets.

I haven't gotten started with reddit as arun from last yea

[2018-04-26 16:36] baraaorabi commented on #13
@emreerhan: Sure! I will try to see what I can do about CS and Math at SFU. I will see about MBB too, but maybe it is easier if @klgray25 contacts their secretary? I think I should also email the current bioinformatics cohort and ask them to circulate the email around.

[2018-04-26 16:38] #3 closed

[2018-04-26 16:42] klgray25 commented on #13
@emreerhan @baraaorabi I can contact both the MBB department office and circulate to SFU Omics. We should probably send it to the stats department too; I can do that.

[2018-04-26 16:52] smaslova commented on #13
Possible programs to target at UBC:

Computer Science:
program: https://www.cs.ubc.ca/
student society: https://ubccsss.org/

Microbiology and Immunology:
https://www.microbiology.ubc.ca/

Biophysics
program: http://www.lmb.ubc.ca/graduate/index.html
student society: https://bpss.phas.ubc.ca/

Interdisciplinary Studies: http://isgp.ubc.ca/?login
Integrated Science Program: https://intsci.ubc.ca/

[2018-04-26 16:55] smaslova commented on #13
Also, if you are going to go the reddit route I suggest the following subreddits:
reddit.com/r/bioinformatics
reddit.com/r/vancouver
reddit.com/r/UBC
reddit.com/r/simonfraser

edit:
reddit.com/r/labrats

[2018-04-27 19:46] ababaian commented on #13
We should contact ECOSCOPE and offer the team leader slots as well sooner rather then later. I'm sure they'll help distribute the tweets / email once those are drafted.

[2018-04-27 21:35] ababaian commented on #13
## Email Advertisement Flyer
I've prepared some text + a small email advertisement to send to the various mailing lists. I think we can improve the text part of the email a little bit so I'm open to suggestions.

![gb_email_ad](https://user-images.githubusercontent.com/9220907/39537368-3985a8ea-4dee-11e8-87c1-6807a723884f.png)

Do you have a great biology / bioinformatics project idea? Help transl

[2018-04-29 05:36] emreerhan commented on #13
@baraaorabi could you email the hackseq mailing list that we have accumulated from previous years?

[2018-04-30 22:25] jenjaelin commented on #11
Cool thanks everyone for voting! Lets go with Tues. May 15th at 6:00? @ababaian would you mind booking us a room in BCCRC if that is still possible?

[2018-04-30 22:28] jenjaelin commented on #13
@emreerhan idk if there's a mailing list for them, but bioinformatics and GSAT departments/groups at UBC?

[2018-05-01 02:46] ababaian commented on #11
I can try downstairs but I'm out of town so you'll have to find your way in.

[2018-05-02 00:15] jasgrewal commented on #13
Hi @jenjaelin you should be able to have it fwd'd to these program lists by contacting Sharon Ruschkowski, our program coordinator, at sharonr[at]bcgsc.ca

[2018-05-02 08:35] emreerhan commented on #13
@ababaian The image has a typo. Applications is spelled "Applictions".

We really need to get on emailing the mailing lists. I know I'm not in charge of the email account, but I can send the first batch of emails since you're busy right now @baraaorabi.

@NoushinN have you been able to make any posts on social media?

[2018-05-02 15:41] NoushinN commented on #13
@emreerhan I need help to post it on reddit, it is so unfriendly! Please go ahead if you have time.
Twitter is taken cared of now.

[2018-05-02 16:50] ababaian commented on #13
fixed

[2018-05-02 18:55] NoushinN commented on #13
Team, what are your thoughts about advertising on linkedin? We can make a hackseq linkedin group..does everyone have a profile there?

[2018-05-02 19:24] emreerhan commented on #13
@NoushinN everything's looks great so far! Yes, I can handle the Reddit account. Could you change the tweet you just posted so it doesn't say participant applications are open, just yet. We're only just opening team lead applications.

[2018-05-02 19:41] NoushinN commented on #13
@emreerhan thanks! done

[2018-05-02 20:03] baraaorabi commented on #13
Hi!

Sorry I've been slightly busy this week. So I just email the flyer to SFU CS and asked them to forward it to the whole department. I also just emailed Sharon to cover UBC Bioinformatics/MedGen/Genome Science.

I will try now to get in touch with other UBC departments (CS, biophysics, microbio&immun, biophys).

[2018-05-03 02:13] klgray25 commented on #13
Hey guys! Quick update: I have sent the information out to the SFU Omics mailing list and forwarded it to the MBB and Statistics and Actuarial Science admin at SFU for them to forward to their respective departments.

[2018-05-03 18:08] baraaorabi commented on #13
Update: Sharon sent out the email flyer yesterday. Today I also got SFU CS emailed by our grad assistant.

[2018-05-03 18:34] klgray25 commented on #13
Can confirm that the email went out to the MBB, Biological Sciences, and Stats departments.

[2018-05-08 01:30] ababaian commented on #13
When in doubt, talking to people in person is probably the best motivator =D Y'all should make sure to show up at VanBUG on thursday and start convincing people to lead teams!

A

[2018-05-08 01:32] jasgrewal commented on #13
On that note, can someone send along the team lead recruitment slide to me, plus the official email request to VanBUG for being a community sponsor? Doesn't have to be super formal, I would just like it for when I announce it, and for our internal records. Thx! @emreerhan @jenjaelin

[2018-05-08 10:01] emreerhan commented on #13
@SweetiePi I believe you [mentioned](https://github.com/hackseq/hackseq18/issues/9#issuecomment-384020284) that you could make the slide for Vanbug. If you had a chance to finish it, could you pass it along to Jasleen?

@jenjaelin you wrote a draft of the email a while back, could you pass that along to Jasleen?

Thanks guys!

[2018-05-08 22:09] alexsweeten commented on #13
I believe @NoushinN beat me to it.

@jasgrewal The team lead recruitment slide can be [found here](https://github.com/hackseq/hackseq18/blob/master/media/Slide4.jpg)

[2018-05-08 22:17] jenjaelin commented on #13
@jasgrewal the email draft can be found [here](https://github.com/hackseq/hackseq18/issues/7)

[2018-05-08 22:42] jenjaelin commented on #11
@ababaian heya! any chance the room has been confirmed? I can show up early before the building is locked/have someone let me in so its not a huge issue.

[2018-05-09 22:10] baraaorabi commented on #13
@jasgrewal for the community sponsor, should I send something to dev@vanbug.org from hackseq's gmail? Or is there some other email?

[2018-05-09 22:11] jasgrewal commented on #13
Hi @baraaorabi , that's alright, I already sent the message to vanbug dev based on the draft @jenjaelin pointed me to yesterday :)

[2018-05-09 22:20] baraaorabi commented on #13
@jasgrewal you're da best!

[2018-05-15 21:42] smaslova commented on #11
Are we meeting at BCCRC tonight?

[2018-05-15 21:48] baraaorabi commented on #11
We are meeting. I don't if we got the room though.

On Tue, May 15, 2018 at 2:42 PM smaslova <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-05-15 21:49] jenjaelin commented on #11
yes. my apologies I got busy and didn't update the page

[2018-05-15 21:52] jenjaelin commented on #11
I'm going to head in for 5:30ish to make sure that everyone can get in when they arrive. if you get there and can't get in the front door, text/ring me at (519) 498-1555

[2018-05-16 01:04] alexsweeten commented on #11
Apologies for late notice, wont make it today!

[2018-05-16 09:09] emreerhan commented on #11
I vote no for remote team leaders.

[2018-05-17 22:31] imasianxd opened #14 "sponsor list recommendations and personal connections"
Here's a link to the issue created in our private repo for the sponsorships
https://github.com/hackseq/hackseq18_private/issues/2

additional suggestions or if you know any email aside from info@companyName.com are welcomed
everyone go bug your favourite company rep for sponsorship please :)

[2018-05-28 17:40] jenjaelin opened #15 "5th Organizational Meeting - Monday June 11th, 5:30PM - *Updated with Minutes"
Vote here for the date and time: https://doodle.com/poll/zcbhq4p6muixx9ye

# Agenda
as always, add items here or send me items to add!
## Team lead
- updates on applications
- questions for personal interviews
- start planning interviews
## Sponsors
- updates on sponsorship

# Minutes
## Team lead
- write up and post google doc for questions to ask TLs in interview - **Jenny**
     -	read TL appli

[2018-05-29 16:56] emreerhan commented on #13
Hey guys, we're going to have to extend the team leader application deadline, as we expected. We have 4 applications right now.

I highly encourage that we all reach out personally to people that we know. I think that gives us the highest chance of reaching potential team leads.

[2018-05-29 17:54] baraaorabi commented on #13
When are we thinking about next deadline? Do you think mid-June would be good? I wanna update the flyer with the new deadline, and then re-email it to the mailing list.

I sent out few personal emails to people at SFU and VPC. @emreerhan do you think you should talk to some people in Inanc's lab? Maybe even Inanc himself :-D

[2018-05-29 20:09] jenjaelin commented on #13
maybe set the deadline to the end of the week for our next meeting?

[2018-05-29 20:25] baraaorabi commented on #13
Max Libbrecht replied to me:
"I don't have time to be a team lead, but I'm happy to advise a team or give project ideas."

I was talking to @emreerhan, and maybe we can have some sort hand-off mentoring team leaders?

[2018-05-29 21:02] klgray25 commented on #13
Hey @baraaorabi, what exactly do you mean by "hand-off mentoring team leaders"? As in, a leader that moreso assigns tasks than works with the group? Or, a team with a designated leader that simply is working off one of Dr. Libbrecht's ideas (perhaps if there is someone interested in leading a team that doesn't have an idea...) (Are the ideas or the tasks being handed-off?)

Why do we only have 4 a

[2018-05-29 21:25] emreerhan commented on #13
As a part of previous hackseqs we have had the option of people signing up to be mentors. It's one of the options on the team leader applications. I suggested to Baraa that Dr. Libbrecht can be a mentor this year. The responsibility of a mentor is to show up whenever they have time to the event, and provide help to any teams who might want any.

We have 4 applicants. 1 of the applications is from

[2018-05-29 21:26] emreerhan commented on #13
@jenjaelin I dont think 1 week is enough time to get 4-5 more applications. I was thinking more like 2  3 weeks.

@klgray25 when were you thinking of opening participant applications?

[2018-05-30 06:29] NoushinN commented on #13
I talked to R Ladies Vancouver but will be great to send an official letter to them, here's Anna's email  Anna.Posacka@ocean.org

[2018-05-30 22:11] emreerhan commented on #13
I have 2 more "yes"s for team leads. They'll write their proposals in the next 2-3 weeks.

[2018-05-30 22:14] baraaorabi commented on #13
Yay \o/

On Wed, May 30, 2018, 3:11 PM Emre Erhan <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-05-30 22:19] klgray25 commented on #13
Having Dr. Libbrecht as a mentor sounds great!

@emreerhan I believe in previous years the participant applications were opened late in the summer (ie. late August). Does that sound about right or do we want to talk about opening them earlier?

Great job on bringing in more team leaders!

[2018-05-30 22:30] baraaorabi commented on #13
@klgray25: I think late August sounds right if we are holding Hackseq mid
Oct.

So regarding Max, I think we need to formalize how mentorship is going to
work as opposed to direct team leading. Do we have examples from last years
on how that worked?

On Wed, May 30, 2018, 3:19 PM klgray25 <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-05-31 12:19] emreerhan commented on #13
@baraaorabi as far as I know, it's not very formal at all. This is the description from the team leader app survey:

[2018-05-31 18:46] emreerhan commented on #13
Update: I've contacted Ben Busby from the NIH. It seems like they may send someone out to lead a team. They're also going to help advertise for us.

@ababaian I think you're on vacation now, but when you have time can you change the deadline for team leader apps to June 21 on our website?

[2018-05-31 19:14] baraaorabi commented on #13
I tried updating the deadline on the website, but it is hosted on Github.io, and only these users have write access to it:
https://github.com/hackseq/hs18/graphs/contributors

I have created a pull request with the deadline update. Need @ababaian to merge it.

[2018-06-03 19:09] ababaian commented on #13
Checking in quickly, I'll be back June 13th.

Added you all to have write access to the website too, sorry about hte oversight!

Super stoked how much progress you've all been making =D It's coming together!

[2018-06-07 23:38] jenjaelin commented on #15
Hi all, date has been updated to Monday. Apologies for the delay, I've been away for a bit, trying to get everything sorted this week. Let's have it at the BCCRC again? From what I can tell, the downstairs boardroom seems to be empty after 5:00? I can also get a friend to book it for me. Opinions?

[2018-06-07 23:56] klgray25 commented on #15
Hey guys. I actually have an appointment on the other side of town now Monday evening, so I can no longer make that date. Sorry! (I would also only be able to Skype in Wednesday now).

[2018-06-08 18:00] jenjaelin commented on #15
No worries! Thanks for letting us know!

[2018-06-11 20:11] jenjaelin commented on #15
See y'all at 5:30! As always, I'll be there around 5:00, send me a message at (519) 498-1555 if you can't get in the building/room etc.

P.S. please update the agenda with items if you have something to talk about! Thanks :D

[2018-06-11 20:12] #2 closed

[2018-06-11 20:13] #6 closed

[2018-06-11 20:13] baraaorabi commented on #15
Cya at 5:30!

On Mon, Jun 11, 2018, 1:11 PM jenjaelin <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-06-12 20:58] NoushinN commented on #15
Hi all, great meeting yesterday, thanks for the notes @jenjaelin... here's the F1000 article from 2016, interesting metadata about structure of first hackathon, wondering if there was one for 2017? https://f1000research.com/articles/6-197/v2 It would be nice to see how it evolves over time, it could act as a protocol for next generation organizers to learn about the dos and don'ts.
I will be avail

[2018-06-14 15:33] ababaian commented on #15
I'm back in town now : ) Looks like you all have been busy.

Let me know if there's anything I can help out on.

[2018-06-18 01:35] emreerhan commented on #15
@ababaian can you check the squarespace email we received recently? It says something about the credit card on file expiring in July

[2018-06-18 02:26] emreerhan commented on #13
Hi all,

When you have time, please sign up for one or more interviews at this [link](https://docs.google.com/spreadsheets/d/1Ufwg3ZZ5KMtk9Go5BWHPxGLgydqXvr31Ql3WxXZJY9Q/edit?usp=sharing). Once the applications are finalized June 21, we will contact the corresponding team leaders and interview them to confirm their projects.

[2018-06-18 02:45] baraaorabi commented on #13
I signed up for one for now. If we still need more interviewers, I'll sign
up for a second.

Baraa

On Sun, Jun 17, 2018, 7:26 PM Emre Erhan <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-06-18 16:26] ababaian commented on #15
I'll take care of it : )

[2018-06-19 19:11] emreerhan commented on #13
Some updates:

I have confirmed that Allissa Dillman from the NIH will be leading a team, but she will not be able to submit an application any time soon due to having just undergone labor!

For more discussion on the specifics of the project selection process organizers please refer to the [private repo issue](https://github.com/hackseq/hackseq18_private/issues/5)

[2018-06-24 18:20] jenjaelin opened #16 "6th Organizational Meeting - Thursday July 5th at 6PM *Minutes posted"
# To Do's before meeting

- [x] - vote for a meeting time [here](https://doodle.com/poll/dwmkufxzfzyzmifm) (if you cannot attend period, please click the "cannot attend" button in the bottom right)
     - see you at BCCRC at **6pm on Thursday**!

- [x] - sign up for 1 or more interview slots [here](https://docs.google.com/spreadsheets/d/1Ufwg3ZZ5KMtk9Go5BWHPxGLgydqXvr31Ql3WxXZJY9Q)

- [x] - contri

[2018-06-25 21:17] klgray25 commented on #13
Hi guys. Sorry for disappearing for a while! Was busy at a conference all last week. I'm happy to sign up for one of the interviews, but am away for the rest of June and parts of July. So, the interview I participate in would be very dependent on timing. When approximately do we want to be doing these? Is there a way I can just be involved with one that lines up with my schedule (and not sign up b

[2018-06-27 07:30] emreerhan commented on #13
The latest news is:
We have 9 team leader applicants. We will be conducting interviews with each of the potential team leaders via Skype/Hangouts to finalize the details of their project, and ensure that they can make the dates. Ideally there'll be two of us per interview. The scheduling is the responsibility of the interviewees, so that should be convenient for you @klgray25 .

Of the 9 applicant

[2018-06-29 17:43] abaghela commented on #13
Hello,
I sent you guys an email a couple days ago about submitting a Team Lead Application on behalf of ECOSCOPE. Would this still be possible?

Arjun

[2018-06-29 17:55] ababaian commented on #13
I think we can make it work  2c

[2018-06-29 18:59] baraaorabi commented on #13
@abaghela Do you also have a project proposal read?

[2018-06-30 05:52] emreerhan commented on #13
@abaghela please submit an application here https://hackseq.github.io/hs18/2018/03/16/team-leads.txt.html

[2018-07-02 23:46] baraaorabi commented on #16
So are we settling for Thu 6pm for the meeting?

[2018-07-03 02:09] jenjaelin commented on #16
Yeah sure! I was gonna update this when I got home tn

J

[2018-07-03 18:47] imasianxd opened #17 "hackseq schedule"
One of the sponsor requested a rough schedule for the days. since we don't have one for this year, can someone hook me up with last year's schedule? thx

[2018-07-03 19:14] abaghela commented on #13
Can I submit on the weekend? I need to talk to Steven Hallam about a project he has in mind.

Thanks!!

[2018-07-03 23:57] emreerhan commented on #13
@abaghela please have at least a rough outline of the project submitted by Thursday afternoon. That's when we will be meeting to discuss the possible projects this year.

[2018-07-05 20:27] ababaian commented on #16
Just to confirm this is tonight, on Thursday correct (the 5th)? See you all there!

[2018-07-05 20:31] jenjaelin commented on #16
yessir. See everyone at 6PM around the lobby :)

[2018-07-05 20:39] ababaian commented on #17
Not sure about 2017 but the [2016 Schedule can be found here.](https://github.com/hackseq/October_2016/blob/master/schedule.pdf)

It's very likely to be the same but maybe we can get the logistics leads to start drafting one.

[2018-07-05 21:34] jenjaelin commented on #16
ah oops, my bad with the date

[2018-07-05 23:18] NoushinN commented on #16
Looks like this has to go without me! :( Please count me in for interviews through skype and a mock interview (3 hours difference/Toronto time!) :)
I really wanted to bring up the topic of what we can do as organizers to help and set expectations for team leaders, and of course hear your opinions for how we can unify team leader's output and notify them of our expectations, e.g. guidelines for des

[2018-07-05 23:35] vlauu commented on #16
Hey everyone, I won't be able to attend today's meeting as well, but below is my update regarding sponsorships:

So far, @imasianxd  and I secured monetary sponsorships from RStudio ($500USD) and bioinformatics.ca ($500), both pending for an invoice and wire instructions, which leads a potential problem that might want to be discussed today:

Colin Hammond, treasurer of GrasPods, mentioned that it

[2018-07-06 14:54] #5 closed

[2018-07-06 14:55] #7 closed

[2018-07-06 14:55] #8 closed

[2018-07-06 14:55] #11 closed

[2018-07-06 14:56] #15 closed

[2018-07-06 18:19] jenjaelin opened #18 "7th Organizational Meeting - Monday, July 30th @6pm *Minutes posted"
# To Dos:
## Everyone
- [x] vote for **2** meeting times (one per week) [here](https://doodle.com/poll/i5bc5uvgixktudbr) (if you cannot attend period, please click the "cannot attend" button in the bottom right) - Complete by **July 13th**
- [x] start arranging interviews with your assigned TL(s) (after email template is finalized)
- [x] sign up for 2  interview slots [here](https://docs.google.co

[2018-07-09 02:45] jenjaelin commented on #18
@emreerhan I've coalesced the questions down to 8 on the second page of [this document](https://docs.google.com/document/d/1WzP-s2bGyHGlH0ySC9IddW9mwEo0opctEt6C62PG4rY/edit?usp=sharing)

[2018-07-10 18:10] #14 closed

[2018-07-10 20:42] emreerhan commented on #18
Draft email for contacting team leaders:

[2018-07-10 20:50] ababaian commented on #18
Which document should we send with sample questions?

[2018-07-11 23:10] jenjaelin commented on #18
@ababaian pull the last page of the interview questions doc into a separate document to send.

[2018-07-11 23:28] jenjaelin commented on #18
Also for everyone: I updated the interview sign-up sheet with 2 new columns to keep track of who's been contacted and scheduled times when they are put up (just the date is fine). Please update so I can keep track of when the interviews are expected to be done :)

[2018-07-12 16:47] #13 closed

[2018-07-12 17:24] ababaian opened #19 "Project Promotional Materials"
As we transition to Participant recruitment we'll need to put together a strategy / outline for how to advertise each of the individual projects. For each project we should have a kind of template.

Remember, the *objective* of these descriptions is to entice Participants to join this project, so make sure to include a significance or rationale for why this is worth doing.

For the website side of

[2018-07-12 19:51] emreerhan commented on #18
Bruno says he'd be happy to host a git workshop for us :)

[2018-07-12 20:40] jenjaelin commented on #19
should we be asking the TLs to come up with most of this or are we to make them up?

[2018-07-12 20:50] ababaian commented on #19
I think the TLs should do this?

Also think of yourselves as Participants, what information would you want to know about a project which would entice you to join that project?

[2018-07-12 20:57] NoushinN commented on #19
I really like the list of actions 💯!
Also agree that TLs would know their project best to come up with the answers. Us as organizers could quickly scan and give them suggestions if need be.
This list could be sent to each TL after their interview to work on and send back to interviewers?

[2018-07-12 22:46] jenjaelin commented on #19
yeah that seems like the best idea.

On Thu, Jul 12, 2018 at 1:57 PM, Noushin Nabavi <notifications@github.com>
wrote:

[2018-07-13 20:56] ababaian commented on #17
@smaslova when you get a chance there's an email for you regarding the room booking on the hackseq account.

[2018-07-15 19:21] NoushinN commented on #17
irrelevant post @smaslova but can you send me your email? I am trying to email you and Morgan Bye to set up time for interview, thanks

[2018-07-16 18:15] jenjaelin commented on #18
Reminder to vote for a meeting date! Currently looks as if the top 2 contenders are July 26th and 30th. If we don't have any new votes by the end of the day, I'll set it for July 30th to give everyone the max amount of time to get those interviews in.

Cheers,
J

[2018-07-20 17:46] jenjaelin commented on #18
Hi all, set the date for July 30th (6pm) at BCCRC as per usual. I won't be there, but if you guys find that most of the interviews won't be completed by then, feel free to schedule another date.

Cheers,
J

[2018-07-25 17:43] jenjaelin commented on #18
Heya! Reminder to remind interviewees if you haven't heard back from them yet. Also, don't forget to submit items for the meeting agenda :)

@emreerhan, have you heard back from the couple of people who said they'd submit a project yet?

[2018-07-25 21:42] emreerhan commented on #18
@jenjaelin we've received a project abstract from the ECOSCOPE team. They may ask to lead a team with only ECOSCOPE members. We're still discussing this with them.

I've emailed Allissa Dillman from the NIH about her project. I didn't receive an email from her yet, but I also didn't receive an "out of office" email either. I'll remind her again soon.

[2018-07-25 22:14] klgray25 commented on #18
Hey everyone! Could you please give a 2-3 sentence project summary for the projects you interviewed for? Either get this from the team lead or if you think you can summarize it yourself in a few sentences after having your meeting that works too. If they went into the same document as the interviews are organized in that would work well. I would like these for the participant applications. Current

[2018-07-25 23:14] ababaian commented on #18
@klgray25 Me and Baraa didn't get these. Can we (@emreerhan) just send one email to all the team leaders and gather all the information at once? I have a few things I'd like for the website. We can get everything at once. #19

[2018-07-25 23:18] klgray25 commented on #18
Sure! Sounds good to me. I understand that for some projects with later abstracts, we won't be able to get these right away. However, I would like them as soon as possible so that we can open the participant applications. Can we compile a list of things to ask the team leaders for in the next few days so that we can send that all out together?

[2018-07-25 23:20] emreerhan commented on #18
@ababaian that sounds like a good idea. I'll work on it.

[2018-07-27 20:51] NoushinN opened #20 "Team Lead + Project info for participant promotion"
Hi Everyone, Baraa and I interviewed Sam Chorlton last week and as Baraa posted, we thought it was a great project, needing more refinement at the team lead level. Sam got back to us filling all these fields so we probably won't need to contact him again for more info. His response is pasted here and please also note his optional abstract graphics! :)

Listed Team Leader. Optional: contact email,

[2018-07-27 20:52] NoushinN commented on #19
Hi Everyone, Baraa and I interviewed Sam Chorlton last week and as Baraa posted, we thought it was a great project, needing more refinement at the team lead level. Sam got back to us filling all these fields so we probably won't need to contact him again for more info. His response is pasted here and please also note his optional abstract graphics! :)

Listed Team Leader. Optional: contact email,

[2018-07-30 14:05] NoushinN commented on #20
Also, please find the github page for my proposal here: https://github.com/NoushinN/anatomy-of-morbidity

[2018-07-30 22:39] ababaian commented on #18
@hackseq/hs18_org See you all tonight!

[2018-07-30 22:39] ababaian commented on #18
@hackseq/hs18_org See you all tonight!

[2018-07-30 22:59] bfjia commented on #18
yikes, forgot about this. I got a deadline tonight so i'll be unlikely to attend.
@SweetiePi and I interviewed rob Gilmore. the project seems pretty interesting and fitting for a hackathon. I think Alex could update you guys with that.
Abcellera have 2 mentors coming to network instead of running a team. but they do have ppl who are interested in joining as a team member though.

[2018-08-03 17:39] NoushinN commented on #18
Hi everyone :) a hackseq facebook page is set-up under hackseq hackathon, please feel free to invite friendships! I will be making an event page soon...feel free to login yourselves and craft things...or give suggestions here.

[2018-08-03 17:53] ababaian commented on #18
@NoushinN There's a good chance the account will be taken down. You can't have an organizational account in facebook (it's their user policy), what we need is a facebook page for hackseq. You'd have to start it from your own facebook account (I think, I don't have facebook so I'm fuzzy on the details).

[2018-08-08 17:45] klgray25 commented on #19
Hey guys! I am still waiting for the short summaries from most of the team leads. I still need them for @SweetiePi, Rob, Morgan, Veena and Arjun. @emreerhan have you heard from Allissa yet?

My hope is to start sending out the advertisements next Monday.

[2018-08-08 19:16] klgray25 opened #21 "Participant Applications"
## Advertising ##

The participant applications are open and ready to be sent out. The example emails below can be used as a guideline. Be sure to also include the gameboy add image prepared by Artem!

If you send out an email advertising the participant applications, please track that [here](https://docs.google.com/spreadsheets/d/1EQK2iUrEQ57R-Txd-YTpB-dAqKB2aJ0oiW4cq00b1Wg/edit?usp=sharing). Als

[2018-08-08 20:41] jenjaelin commented on #19
heya! I'll get something out for Veena today or tomorrow. If I don't send
it out to you by Friday would you mind sending me a reminder?

Cheers,
Jenny

On Wed, Aug 8, 2018 at 10:45 AM, klgray25 <notifications@github.com> wrote:

[2018-08-08 21:01] klgray25 commented on #19
Sure, will do!

[2018-08-08 21:30] ababaian commented on #21
Does anyone have any cool looking data files? Maybe something from a high-throughput experiment which looks out of the ordinary? If you do email it to me and I'll see about incorporating it, I'm running a little low on cool data images at the moment.

## Gameboy Ad
![hackseq18_gb](https://user-images.githubusercontent.com/9220907/43865530-b82eda4c-9b17-11e8-83da-099c93693eac.png)

*more options co

[2018-08-09 07:12] emreerhan commented on #19
@klgray25

I'm expecting an email back from Arjun with his required/optional skills. I'll send you his title/hook/abstract right now.

I'm communicating with Allissa, I'll let you know as soon as possible if she's in or not.

[2018-08-09 17:39] jenjaelin commented on #18
hey all, did you talk about when to have the next meeting? So I can go about getting things prepped with doodle and to do lists :)

[2018-08-09 18:13] ababaian commented on #18
We 100% did not.

[2018-08-09 18:17] klgray25 commented on #19
Perfect. Thanks so much!

[2018-08-12 16:19] NoushinN commented on #19
Hi @klgray25, update from Morgan and Cara is that they will be sending their project information this coming week, I will send another reminder mid week, will forward you as soon as we get it

[2018-08-12 16:24] NoushinN commented on #21
Hi @ababaian, recently found this twitter page https://twitter.com/accidental__aRt posting data visualizations when they go beautifully wrong, some are interesting looking?

[2018-08-12 18:28] alexsweeten commented on #19
@klgray25 So sorry for being so late, I'll have myself and Rob Gilmore's info for you by ~~tonight~~ today

[2018-08-13 16:18] alexsweeten commented on #20
Listed Team Leader. Optional: contact email, link to website

- Rob Gilmore
- robgilmore127@gmail.com
- https://github.com/datasnakes/beRi

The Hook. In two sentences advertise the goal of your project and why it would be fun to join this particular team

- Are you a bioinformatician frustrated by R's inability to resolve common dependency issues? Help develop beRi, a package management, reproduci

[2018-08-13 16:24] alexsweeten commented on #20
Listed Team Leader. Optional: contact email, link to website

- Alex Sweeten
- alex.sweeten@gmail.com

The Hook. In two sentences advertise the goal of your project and why it would be fun to join this particular team

- Interested in developing a novel bioinformatics pipeline? Given the unprecedented size of genomic information, new methods are required to organize and manage this data. The goal

[2018-08-13 16:38] ababaian commented on #21
I've changed the Project selection question from a multiple-choice grid to 3 pull-down rank questions. I think having numerical choices of numbered projects might lead to a few mis-choices. This also keeps the names associated with each project number.

Edit: LOL @NoushinN that's like the 100% opposite of what I'm looking for but it's hilarious.

[2018-08-13 17:50] klgray25 commented on #20
Thanks Alex!

[2018-08-13 17:58] klgray25 commented on #21
Good point! The changes sound good to me.

[2018-08-13 18:03] klgray25 commented on #19
Thanks to everyone who got their team lead info to me.

@jenjaelin @smaslova Did you hear anything back from Veena?

@NoushinN Okay, sounds good.

Would you guys prefer that I wait on the last few projects to come in? Alternatively, I can write a few sentences for them for now from the submitted abstracts and then just replace the text once the team leaders get their info in? I think that what Vee

[2018-08-14 16:44] ababaian commented on #21
Are the applications ready? I've got the application page online: https://hackseq.github.io/hs18/2018/03/15/participants.txt.html

[2018-08-14 17:16] baraaorabi commented on #21
I just finished updating the maillist so that is ready. I read through the application. It looks great. One thing though, do we want to know whether the participants are going to attend physically or remotely?

[2018-08-14 17:18] ababaian commented on #21
Really good point Baraa, we should also have a question to make sure they are certain that they can attend all three days October 12, 13th and 14th with ~hours.

[2018-08-14 17:55] klgray25 commented on #21
Great point Baraa. I will add that.

I was going to hold off until Wednesday, as we are still waiting on the last few project descriptions and Emre was expecting to hear a definitive yes or no from Allissa in the next few days.

The page with all of the projects online looks great by the way @ababaian!

[2018-08-14 17:57] baraaorabi commented on #18
When are we going to have our next meeting? Did I miss that? Or we still don't have a time set up?

[2018-08-14 18:16] NoushinN commented on #21
yes agree, great page @ababaian 👍   just a minor typo, my name is spelled wrong though it's nabavi, not sure how to correct

[2018-08-14 19:57] ababaian commented on #18
Maybe let's do a meeting next week @jenjaelin and we can discuss meeting schedules after that.

[2018-08-14 20:24] jenjaelin commented on #18
sounds good. I will get the doodle up and running in the next hour :)

[2018-08-14 20:31] jenjaelin opened #22 "8th Organizational Meeting - Tuesday August 21st at 6PM"
Hi all, short turn around time this round. Please vote and add to agenda as needed!
## To Do:
- [x] vote for meeting time [here](https://doodle.com/poll/32f5893bi2hqigrw) (if you cannot attend period, please click the "cannot attend" button in the bottom right) - Complete by **Thursday Aug 16th**

# Agenda
- have someone take notes
- talk about regularly scheduled meetings
- participant applicatio

[2018-08-14 22:27] jenjaelin commented on #19
nothing yet! That would probably be a good idea until we hear something
more.

Thanks!
Jenny

On Mon, Aug 13, 2018 at 11:03 AM, klgray25 <notifications@github.com> wrote:

[2018-08-14 23:45] alexsweeten commented on #21
@ababaian Nice projects page!

One concern I have is that participants might be too lazy to scroll and find the other projects. This might unnecessarily skew the distribution towards projects 1 & 2 as opposed to 8 & 9. Maybe right at the top above Skill Proficiencies we can have the titles and links to all 9 projects so people see them right away.

[2018-08-15 18:20] NoushinN commented on #21
@klgray25 I can't seem to access the participant application but thinking how we could increase retention rate and have 100% attendance on the day of hackathon, like having a sort of incentive? based on my reading of previous year, half of participants didn't show up on the day of, is this right @ababaian? maybe a topic to brainstorm in organization meeting

[2018-08-15 18:27] ababaian commented on #21
About 1/8 or so for real life participants and about 1/2 for remote participants. We discussed this at one meeting but it will be worth talking about again how to incentivize people  to come. Participant application isn't online just yet, you have to login through the hackseq account to see it.

@SweetiePi fixed the projects page

[2018-08-15 18:36] smaslova commented on #21
Also worth noting that last year one of the projects was cancelled at the
last minute, and we had 9 projects total, so that might account for a lot
of the no-shows.

On Wed, Aug 15, 2018, 11:27 AM Artem Babaian, <notifications@github.com>
wrote:

[2018-08-15 18:46] klgray25 commented on #21
@NoushinN Yes, the application is not yet open. If you want to give feedback, please log into the account and take a peak at it! I'll open it up at the end of the day today even if we don't receive a response from the other team leads. I can substitute the information from the original team lead applications for now.

[2018-08-15 18:48] alexsweeten commented on #21
Awesome @ababaian looks good!

I'm in favor of having a small participant fee to incentivize, around the $10 range. Participants could get a goodie bag of swag for it (assuming they're not remote)?

[2018-08-15 18:52] klgray25 commented on #21
We also don't want to de-incentivize people from coming. Also, we would have to set up a way of collecting the $10 from everyone, which would be a hassle. I think it kind of goes against the inclusive nature of hackseq too. Sorry, Alex! Don't mean to shoot down the idea too much - just my opinion on the matter.

The promise of free food and swag is probably sufficient to draw people in I would thi

[2018-08-15 18:57] alexsweeten commented on #21
Haha its ok! I agree, better to be inclusive.

[2018-08-15 19:01] ababaian commented on #21
We should still discuss methods to incentivize people at the next meeting.

[2018-08-16 05:35] NoushinN commented on #20
Hi @klgray25, Cara and Morgan sent this to us (Sasha and I) today. Cara is still looking for he initial application to make adjustments but below is what we could use for now:

Project Title
Simulating Transcriptome Structural Variants to Produce Benchmarking Datasets

Team Leader(s)
Cara Reisle (caralynreisle@gmail.com) & Morgan Bye (morgan@morganbye.com)

The Hook
While there are tools to simula

[2018-08-16 16:12] klgray25 commented on #21
Hey guys! I updated the main comment for this thread above with info about advertising. The participant applications are now open for submission. I will be sending out emails to a few departments at SFU, our mailing list and the SFU-UBC Bioinformatics program later this morning, so don't worry about those. If others could help handle the UBC departments that would be great. @NoushinN please start

[2018-08-16 16:55] NoushinN commented on #21
Great thanks @klgray25 ! 👍

[2018-08-16 23:56] jenjaelin commented on #20
@klgray25 I got this back from Emma (Veena) today:

**Project Title:** Blockchain and Infectious Diseases
**Listed Team Leader:** vghorakavi@gmail.com
**The Hook:**  Infectious diseases are widespread and are difficult to track.  Blockchain has the capabilities to track infectious diseases without revealing information about the people impacted and with location data.
**Project Abstract:** Please

[2018-08-17 00:00] klgray25 commented on #20
Okay, I'll update the hook for her project! It's a little too late to add another skill requirement though, as that would mess up the response form. I won't be able to add Epidemiology.

[2018-08-20 01:10] klgray25 commented on #22
Are we going to do tomorrow at 6, since that has the most votes?

[2018-08-20 01:24] jenjaelin commented on #22
Gah. Sorry I've been out of town all weekend. Tomorrow at six doesn't work for me (have to sent off my SO to the airport) but y'all meet without me. I'll sort out all the logistics of the minutes and stuff when I get home.

J

[2018-08-20 01:46] smaslova commented on #22
I actually can't make it tomorrow at 6 anymore, sorry about that!

On Sun, Aug 19, 2018, 6:24 PM jenjaelin, <notifications@github.com> wrote:

[2018-08-20 18:01] alexsweeten commented on #22
I can make Monday or Tuesday at 6, should we have our meeting Tuesday so @smaslova and @jenjaelin can attend?

[2018-08-20 18:15] jenjaelin commented on #22
Sure? if everyone else agrees?

[2018-08-20 18:17] klgray25 commented on #22
Works for me!

[2018-08-20 18:17] bfjia commented on #22
fine with me

[2018-08-20 18:25] baraaorabi commented on #22
Yes please. I had a minor medical injury yesterday, and I don't think I can make it for today's meeting.

[2018-08-20 18:42] jenjaelin commented on #22
Done and done. See you all tomorrow!

@baraaorabi  eek! Hope its not too serious!

[2018-08-20 19:56] smaslova commented on #21
Has anyone sent out the participant applications to any UBC departments yet?  If not, I'll start doing that ASAP!

[2018-08-20 20:26] klgray25 commented on #21
Hey @smaslova, I don't think so. I have a spreadsheet [here](https://docs.google.com/spreadsheets/d/1EQK2iUrEQ57R-Txd-YTpB-dAqKB2aJ0oiW4cq00b1Wg/edit?usp=sharing) (also linked in the original post above) that I am asking people to use to record where they have sent the emails out. If you can start sending to UBC departments that would be great!

[2018-08-20 20:27] klgray25 commented on #21
@baraaorabi @SweetiePi would one of you mind hitting the Math and Stats, and Computing Science departments at SFU?

[2018-08-21 15:04] NoushinN commented on #22
This will have to go without me, sorry. Will make sure to follow up with the notes post-meeting. I just want to update you all that the facebook account under 'hackseq hackathon' name is not taken down, I think as long as the activities remain within the account, it should be fine. We can use it to advertise our final event like hackseq and promote it. Please feel free to add friendship

[2018-08-21 16:20] jenjaelin commented on #22
Hey all, I've managed come down with something nasty between yesterday and now and am pretty non-functional today. I'm not sure I'll be able to make the meeting, so if someone else could take minutes and assign me things to do, I would really appreciate it! (you don't have to format it all if you don't want to, just send me the rough notes and I can organize it)

[2018-08-21 17:55] baraaorabi commented on #22
Thanks Noushin for the update.

@Jenny: Hope you make it through soon. I'm sure we can handle the minutes
today :-)

On Tue, Aug 21, 2018, 9:20 AM jenjaelin <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-08-21 20:26] ababaian commented on #22
Sorry all, my flight got delayed tonight and I won't make it to Vancouver until ~8pm so I can't make this meeting :'(

[2018-08-21 23:22] vlauu commented on #22
oh no! I just saw this. Don't think I'll be able to make it today.

There's no update from me on the sponsorship. I reached out to 1QBit after the last meeting to follow up on their decisions after the phone call I had with them but didn't hear back.

[2018-08-22 00:31] smaslova commented on #22
I just got inside the building, message me if you need to be let in.

On Tue, Aug 21, 2018, 5:19 PM Venus Lau, <notifications@github.com> wrote:

[2018-08-22 04:21] emreerhan commented on #22
Meeting minutes have been updated, everyone please read it to figure out what needs to be done. Also vote in the doodle.

[2018-08-22 16:52] #16 closed

[2018-08-22 16:53] #19 closed

[2018-08-22 16:53] #20 closed

[2018-08-26 23:28] baraaorabi commented on #22
Please vote in the Doodle poll:
https://doodle.com/poll/tv2vdwu8hrz26cpu

[2018-08-29 00:07] jenjaelin commented on #22
heya! we are still setting meetings for BCCRC even though its September? Once I get confirmation I'll set the new date (Sept. 6)

[2018-08-29 02:47] ababaian commented on #22
That's  OK by me.

[2018-08-29 17:11] jenjaelin opened #23 "9th Organizational Meeting - Thursday Sept. 6 at 6PM *Minutes updated"
# Minutes
### **Next meeting: BCCRC Thursday Sept 13th 5PM**
Please make it a priority as we are at ~5 weeks from the event

## Swag
- stickers have 2-3 different versions?
- notepads (tear off)
- t-shirts for organizers (?)
- [ ] **Artem** to look into swag

## Volunteers
- have participants/TLs volunteer for skills
- registration - keep open
### R sessions
- will have someone for sure on Friday,

[2018-08-31 19:09] emreerhan commented on #17
@smaslova so to confirm, Bruno is requesting a total 1.5 hour time slot on the first day of the hackathon for the optional GitHub workshop. The first 45 mins is for his full session, and the next 45 mins is to reinforce concepts to accommodate people with no version control experience.

[2018-08-31 19:14] bfjia commented on #9
Some sponsors are asking for some posters/material to distribute to advertise for hackseq18. Is there a specific one you guys want to use?

[2018-08-31 19:18] imasianxd opened #24 "GSC computing resources meeting"
I got in contact with Lance at the GSC to support our computing needs for hackseq. He's requesting a meeting in the 2nd week of September to discuss responsibilities and timelines.

Unfortunately I will not be here during that time, @emreerhan @klgray25 can you guys take this meeting since you guys are organizing the teams. It seems like he needs a list of how many accounts needed and how much res

[2018-08-31 19:45] ababaian commented on #9
The best thing we have is probably this guy:

![hackseq18_gb](https://user-images.githubusercontent.com/9220907/44932788-a80dd080-ad1b-11e8-9064-25d07806673a.png)

I can design a full poster (letter sized) this weekend and get it to you on Tuesday : ) +1

Edit: By Tuesday I totally meant Wednesday (busy weekend :/ )

[2018-08-31 19:46] bfjia commented on #9
thx :)

[2018-08-31 22:02] klgray25 commented on #24
That's fine with me.

[2018-09-04 18:20] emreerhan commented on #17
@smaslova so to confirm, Bruno is requesting a total 1.5 hour time slot on the first day of the hackathon for the optional GitHub workshop. The first 45 mins is for his full session, and the next 45 mins is to reinforce concepts to accommodate people with no version control experience.

[2018-09-04 22:47] ababaian commented on #9
## hackseq18 Letter-poster
@imasianxd

[PDF hackseq18 poster Link](https://github.com/hackseq/hackseq18/files/2350516/hackseq18_Poster.pdf)

![hackseq18_poster](https://user-images.githubusercontent.com/9220907/45061534-bfb9c180-b059-11e8-9baa-b0d009e4c752.jpg)

[2018-09-05 23:22] ababaian commented on #23
@hackseq/hs18_org See you all tomorrow at BCCRC!

[2018-09-06 02:10] NoushinN commented on #17
@imasianxd just came across github hackathon sponsorship, i.e. we could fill this form and if fit, they could sponsor our hackseq, check it out https://community.github.com/

[2018-09-06 17:12] alexsweeten commented on #23
Unfortunately I can't make today's meeting.

For updates on my end: I've contacted the Student Biotechnology Network, who will advertise for hackseq on twitter and in their next newsletter, as well at the SFU CS department.

[2018-09-06 17:53] jenjaelin commented on #23
yeah no prob! add it to the agenda?

[2018-09-06 19:10] NoushinN commented on #23
hello all, I am unable to make it to Vancouver as well, my updates: I did talk with Alex, president of postdoc association and he has kindly approved our participation call poster on their upcoming newsletter/twitter

[2018-09-06 21:26] emreerhan commented on #24
Hey, yes you can put me in contact too. Please use my bcgsc email address: eerhan@bcgsc.ca

[2018-09-06 21:32] emreerhan commented on #23
Hi all, I won't be able to make the meeting today either. For my updates: I've reached out to the Computer Science Student Society at SFU. I'm still waiting on UBC for wifi at the event. If they don't get back to me by the end of the week I'll send another email to remind them.

[2018-09-06 21:39] jenjaelin commented on #23
For everyone unable to make it, can you take a minute or two and think of if there is anything that you need us to discuss/assign out to do during our meeting (beyond just updates). Thanks!

J

[2018-09-07 00:47] vlauu commented on #23
Where in the CRC are we meeting?

[2018-09-07 03:22] smaslova opened #25 "Letterhead"
@ababaian do we have a designated font?  Or ideally a whole letterhead design?

[2018-09-07 16:26] ababaian commented on #25
Give me 24 hours and I can do this : )

[2018-09-07 17:24] smaslova commented on #25
Thanks! Something like this would be great since I'll be printing it out in black and white:

![image](https://user-images.githubusercontent.com/32580603/45233611-26bcbd80-b288-11e8-8b6b-3876f4bd4e3c.png)

[2018-09-07 19:05] ababaian commented on #23
Just to check; is someone replying to the participant emails we're getting on the hackseq email account?

If so can you 'archive' the emails you've dealt with so they are out of the inbox and we don't duplicate responses?

@klgray25 @baraaorabi

[2018-09-07 21:08] ababaian commented on #25
Here's the letterhead; let me know if that'll do : )

[hackseq_letterhead.docx](https://github.com/hackseq/hackseq18/files/2362532/hackseq_letterhead.docx)

[2018-09-07 21:12] smaslova commented on #25
That's great, thanks Artem!

On Fri, Sep 7, 2018 at 2:08 PM Artem Babaian <notifications@github.com>
wrote:

[2018-09-07 21:44] #25 closed

[2018-09-10 17:58] ababaian commented on #17
Do I have a schedule outline which I can put online?

[2018-09-10 18:08] ababaian opened #26 "hackseq Organizers T-shirts"
Hey @hackseq/hs18_org

For the t-shirts for organizers we have a few options for colors/prints. If you're all OK with it; I would say we go with black logo and I'll hand [tie-dye](https://cdn.instructables.com/FIA/WZ27/IDUQWGCR/FIAWZ27IDUQWGCR.LARGE.jpg?auto=webp&width=789) the shirts to make them stand out. Else vote below and we can make them acccordingly

# T-shirt order form

The poll was pret

[2018-09-10 18:08] smaslova commented on #17
There's a schedule on the hackseq18 private repo that's up to date with
what we have so far.  I haven't heard back yet regarding classroom bookings.

On Mon, Sep 10, 2018 at 10:59 AM Artem Babaian <notifications@github.com>
wrote:

[2018-09-10 18:36] baraaorabi commented on #26
I like these GitHub polls!

[2018-09-10 19:06] NoushinN commented on #26
same! how is this done?! 🥇

[2018-09-10 19:16] ababaian commented on #26
I used [this website](https://app.gh-polls.com/)

[2018-09-10 20:47] jenjaelin commented on #26
This is awesome! Let me know if you want any help with it? FYI there's also a cheap "silk screen" technique that can be done with a plastic bag and iron as stencil if anyone ever wanted to do it. [How to here](https://diaryofaneastyorker.wordpress.com/2013/04/11/diy-shirt-designs-how-to-make-your-own-freezer-paper-stencils/)

[2018-09-11 03:05] ababaian commented on #9
# Sticker Designs

## Grateful Dead
![gratefuldead_600](https://user-images.githubusercontent.com/9220907/45335556-cef6ae80-b534-11e8-9ec2-64183a1169c0.png)

## Ramones
![ramones_600](https://user-images.githubusercontent.com/9220907/45335557-cef6ae80-b534-11e8-8531-6a61ed6ba3f4.png)

## System of a Down
![soad_600](https://user-images.githubusercontent.com/9220907/45336057-c010fb80-b536-11e8-9897

[2018-09-11 03:16] NoushinN commented on #9
Really cool! loving them all, shall share on twitter 🥇 💯

[2018-09-11 03:17] ababaian commented on #9
Maybe don't share these; leave them as a surprise for the stickers for participants

[2018-09-11 03:18] NoushinN commented on #9
ok..exclusive to participants

[2018-09-11 19:28] jenjaelin opened #27 "10th Organizational Meeting - Thursday Sept. 13 at 5PM"
**Next meeting: BCCRC Thursday Sept 13th 5PM**
# To Do (pre meeting)
- [x] Vote [here](https://doodle.com/poll/s9pv2dgr4ncfhpa2) for weekly meeting times.
We can discuss this at the next meeting as well, but we are aiming to have regular meetings from hereon in. Pick a couple preferable dates. The current thought is 6PM @ BCCRC but we can discuss that too
# Agenda
## Participant Applications
- Lot

[2018-09-11 19:30] jenjaelin commented on #27
Hey y'all. I need to scram at 5:30 to get a bunch of pre-prep done for a faculty welcome day the next morning. I'll stay as long as I can but would appreciate someone taking over minutes if the meeting runs longer than that.

[2018-09-13 15:46] imasianxd opened #28 "URGENT. Need address for package delivery"
Hi all,
I'm out of town right now but the mugs came through FedEx and it requires a signature. I need to redirect it to a place where someone can someone is able to sign for it.
Let me know asap please.

[2018-09-13 16:46] vlauu commented on #27
I have a class later that might run directly into VanBUG at 6pm, so might not be able to attend the meeting.

[2018-09-13 17:08] #18 closed

[2018-09-13 22:19] jenjaelin commented on #28
errr... when's the expected time of delivery? And can it be sent to a Canada Post PO box to be signed on delivery?

[2018-09-13 22:23] bfjia commented on #28
As soon as possible. I need to call in today
And no, it has to be signed at door.

-------- Original message --------
From: jenjaelin <notifications@github.com>
Date: 2018-09-14 7:19 AM (GMT+09:00)
To: hackseq/hackseq18 <hackseq18@noreply.github.com>
Cc: imasianxd <justin_jia2006+git@hotmail.com>, Author <author@noreply.github.com>
Subject: Re: [hackseq/hackseq18] URGENT. Need address for package

[2018-09-13 22:25] jenjaelin commented on #28
shit :/ I guess 2 other questions. 1) how many mugs are being delivered and will they deliver to an institution? cuz I can just give you the address to BCCHR and hide them in my office if it's not a huge number.

I guess question 3 is how soon is soon for delivery. like within the next hour?

[2018-09-13 22:32] bfjia commented on #28
Around 50mugs if I remember correctly so it is a big package. I think they are able to deliver to institution.
Delivery can be the next day but should be asap.

-------- Original message --------
From: jenjaelin <notifications@github.com>
Date: 2018-09-14 7:25 AM (GMT+09:00)
To: hackseq/hackseq18 <hackseq18@noreply.github.com>
Cc: imasianxd <justin_jia2006+git@hotmail.com>, Author <author@noreply.

[2018-09-13 22:40] jenjaelin commented on #28
Okay. Ummm... I'm not sure how to deal with the package when it gets here but I'll figure it out if need be. In case no one else can give you something, my number is (519) 498-1555 and you can have it delivered to entrance 18 at BCCHRI (950 W 28th Ave, Vancouver, BC V5Z 4H4). Have them call me and I'll meet them in the entrance. If they can guarantee delivery before 10am tomorrow, I can also have

[2018-09-13 23:37] emreerhan commented on #27
^I'm in the same class. We have a guest presenter today at 5pm.

[2018-09-14 00:00] baraaorabi commented on #27
I'm almost there. Walking from VPC

On Thu, Sep 13, 2018, 4:37 PM Emre Erhan <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-09-14 00:04] smaslova commented on #27
Hey Artem, are you going to come grab us to go upstairs?

On Thu, Sep 13, 2018, 5:00 PM baraaorabi, <notifications@github.com> wrote:

[2018-09-14 05:06] baraaorabi commented on #27
Don't forget to vote on the Doodle!

[2018-09-14 21:07] vlauu commented on #28
The mugs arrived at the Brinkman Lab at SFU. Will probably need someone with a car (I don't)  to deliver them to hackseq - the box is quite heavy and huge

[2018-09-14 21:17] ababaian commented on #26
@hackseq/hs18_org sorry to spam but can you re-enter your T-shirt data on the google doc: https://docs.google.com/spreadsheets/d/1sWxoK50U_fBqe4E9djoWhKyj7QxOA39GjtaCxvWaCBk/edit?usp=sharing

[2018-09-14 22:34] bfjia commented on #28
That was fast. I'll move it after.

Can someone close this issue

-------- Original message --------
From: Venus Lau <notifications@github.com>
Date: 2018-09-15 6:07 AM (GMT+09:00)
To: hackseq/hackseq18 <hackseq18@noreply.github.com>
Cc: imasianxd <justin_jia2006+git@hotmail.com>, Author <author@noreply.github.com>
Subject: Re: [hackseq/hackseq18] URGENT. Need address for package delivery (#28)

T

[2018-09-14 22:36] #28 closed

[2018-09-15 22:13] alexsweeten commented on #9
![nirvana_hackseq](https://user-images.githubusercontent.com/7028404/45590952-99b5dc00-b8f9-11e8-98d0-eeeb251895c4.jpg)

Quick Nirvana theme.

[2018-09-16 01:39] ababaian commented on #9
Man you killed it with that one!

[2018-09-16 22:11] jenjaelin opened #29 "11th Organizational Meeting - Thursday Sept. 20 at 6PM"
Previous meeting's minutes can be accessed [here](https://github.com/hackseq/hackseq18/issues/27)
# To Do (pre meeting)
  - [x] **Baraa** Send RSVP emails to participants
-  [x] **Baraa** send out reminder email to give heads up mostly undergrads, expect larger teams, stress importance of prep material.
-  [x] **Baraa** Get from Shaun participant matching codes.
- [x] **Artem** and **Jenny** to lo

[2018-09-16 22:13] jenjaelin commented on #29
Hey all! New meeting set and to dos from the previous meeting summarized. Please write in agenda items as needed.

See y'all on Thursday at BCCRC!

[2018-09-16 22:13] #27 closed

[2018-09-17 18:38] #22 closed

[2018-09-17 18:38] #23 closed

[2018-09-18 01:43] baraaorabi opened #30 "Participant sorting"
I created this Jupyter [notebook](https://github.com/hackseq/hackseq18_private/blob/master/participant_sorting/participant_sorting.html) (you need to open it Raw, and save it as HTML file, and then open it in your browser) to help us know big picture before we decide on how to sort participants into teams. If you want me to add some more plots, let me know!

[2018-09-18 02:37] ababaian commented on #30
How to spot a data-nerd in the wild <3

[2018-09-18 16:50] emreerhan commented on #29
2 updates:

1. @klgray25 and I will be meeting with Lance, the head of systems (aka IT) at the GSC, on Thursday to discuss how to get access to Orca.

2. I asked for an update from UBC IT for wifi. The person who I've been in contact with (Sarah Gardner) says that everything is in place for us to have wifi in the Life Sciences building from Oct 12-14. Their finance person will send me an invoice f

[2018-09-18 17:30] emreerhan commented on #29
I just got the invoice. Is there someone on our team who can handle this payment?

[2018-09-18 18:10] ababaian commented on #29
@emreerhan I can put it on my CC and do the re-imbursement stuff later. Email me the details.

[2018-09-20 02:32] jenjaelin commented on #29
Heya! See y'all tomorrow at 6pm :)

[2018-09-20 02:36] jenjaelin commented on #26
FYI - it is highly likely that white font will get dyed in the tie-dye process/can't read due to white patches so we might just be defaulted to black font for tie-dye shirts

[2018-09-20 04:36] ababaian commented on #26
Yes you're correct. Regardless, I'm thinking we dye the shirts first and then return them for printing. We could in theory do a white print with that but it would require an immaculate dye job which is probably harder then it sounds :smiley:

[2018-09-21 00:48] emreerhan commented on #29
I'm waiting outside the crc.

[2018-09-21 02:46] baraaorabi commented on #29
Hello all, sorry I couldn't make it to today's meeting. I had a last minute research emergency.
@klgray25, if you're tomorrow at SFU, can we meet about participant sorting?

[2018-09-21 04:47] klgray25 commented on #29
No worries. Sure, I am busy until 11:30 and don't plan to stay super late tomorrow (ie. let's not start later than 4). We did discuss a few changes in how to reach out to participants and prioritize them, so would be good to chat before you start sending out emails tomorrow. Also, does next Tuesday work for yo to meet and talk and go through the participant applications? We were thinking around 6

[2018-09-21 06:13] baraaorabi commented on #29
Tomorrow I'm free after my class at 1:30. Should we meet then?

On Thu, Sep 20, 2018, 9:47 PM klgray25 <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-09-21 06:19] klgray25 commented on #29
Sounds good! Where?

[2018-09-21 06:20] baraaorabi commented on #29
Same as MBB659 spot?

On Thu, Sep 20, 2018, 11:19 PM klgray25 <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-09-21 06:21] klgray25 commented on #29
Sure!

[2018-09-21 06:39] NoushinN commented on #29
Thanks for your hard work everyone, sorry I am stranded on the Island and feel very useless as an organizing member, kudos to all!

running to ma-marathon
dancing to da-datathon
singing ha-ha-hackathon

[2018-09-21 06:41] NoushinN commented on #29
are we at any point thinking of a wrap up publication on the quantified processes and progresses, not unlike the 2016 F1000?

[2018-09-21 16:48] ababaian commented on #29
That's a good idea @NoushinN, you should head that up : )

[2018-09-23 16:58] NoushinN commented on #30
Let's make some publication figures out of your great work @baraaorabi  💯 👍 :)

[2018-09-23 18:00] NoushinN opened #31 "Hackseq18_Publication_Skeleton.md"
*Topics to think about for our publication, please add organs, muscles, tendons as you see fit*

# Hackseq past, hackseq present
* who we are as organizing committee
* Where were we with hackseq
* where are we going?

# Team-lead selection
* Thoughts on interviewing teams
* @ everyone: Let's reflect on our interview experiences and elaborate on positive/negative aspects
* Team lead Pre-Survey de-i

[2018-09-24 16:21] ababaian commented on #31
Probably one of the most important things from the last publication as having a "User Experience Survey". Getting objective numbers from participants on how they felt beforehand and how they experienced hackseq (see [Figure 3](https://f1000research.com/articles/6-197/v2)). Can we gather data before hackseq and then more data after hackseq about expectations/experiences so that we can see how we di

[2018-09-24 18:44] baraaorabi opened #32 "GitHub organization permission"
Can someone give me more permissions so I can create repositories under our hackseq github organizaion?

[2018-09-24 18:48] baraaorabi commented on #32
I guess this can be done through here:
https://help.github.com/articles/repository-permission-levels-for-an-organization/#creating-repositories

[2018-09-24 19:19] ababaian commented on #32
done

[2018-09-24 19:19] #32 closed

[2018-09-24 20:46] NoushinN commented on #31
That's a great point, do you happen to have access to the survey questions from 2016? We could ask those exact questions for a longitudinal analysis of responses, but then also ask new ones to test efficiency of our own cohort. The NESCent and Hack weeks are great external comparisons.

I can put a survey together soon and ask for everyone's sanity/improvement check and feedback..

[2018-09-24 23:34] ababaian commented on #26
Sorry about the spam everyone but can you take a minute to fill this out with the new choice between T-shirt or Crewneck sweater?

[T-shirt Survey](https://docs.google.com/spreadsheets/d/1sWxoK50U_fBqe4E9djoWhKyj7QxOA39GjtaCxvWaCBk/edit?usp=sharing)

@klgray25 @jenjaelin @SweetiePi @baraaorabi @NoushinN @vlauu @imasianxd @emreerhan @smaslova

[2018-09-25 01:25] NoushinN commented on #31
Great points and refs. The NESCent project organization is so neat, [here](https://nescent.github.io/community-and-code/data/), maybe something we could model

What do you all think of these survey questions pre/post hackseq18? Some need to be tailored depending on whether it goes to participants or leads

# *Survey questions after hackseq18:*
* Please select your project number
* Was your project

[2018-09-25 02:43] jenjaelin commented on #26
@ababaian any chance I can order a black crewneck as well? I'll pay the fee for it :)

[2018-09-25 03:04] jenjaelin commented on #26
also, sent in a request for turn around time if we pick up. If I don't get a reply by tomorrow morning I'll make a call to them. If pick-up isn't allowed, I'll order online and the delivery is 2-6 business days.

[2018-09-25 16:56] jenjaelin commented on #26
update: called in and they said has to be delivery. I'm just gonna guess that the last two will also be crewnecks and make the order?

[2018-09-25 17:10] ababaian commented on #26
Sounds good to me. We need to have all the shirts delivered by Monday the 8th the latest to have it printed on time.

[2018-09-25 17:30] jenjaelin commented on #26
should be fine. I'm about to send in the order right now. They don't have XS as a size so I'm just ordering S's for those. (Sorry!)

[2018-09-25 17:32] emreerhan commented on #26
@jenjaelin if it's not too late, can you also add a black medium t-shirt with a white logo for me as well (the same one as yours). I'll pay for it too.

If it is too late, it's ok

[2018-09-25 17:33] jenjaelin commented on #26
@emreerhan nope still fine! added

Can someone let me know if there is an account to bill this to (by email/in private). if not I'll bill it to myself and get a receipt.

[2018-09-25 17:40] emreerhan commented on #26
I believe we've been paying for things on our own, to be reimbursed later. That's how @ababaian is paying for wifi.

[2018-09-25 17:42] jenjaelin commented on #26
cool cool
 making the order now!

[2018-09-25 19:05] ababaian commented on #26
Hey @jenjaelin do you know how long the delivery will take? If we get the shirts in to the printer by the 1st then we're good. If we get it in by the 8th then there's a $50 extra fee.

[2018-09-25 21:47] jenjaelin commented on #26
@ababaian supposedly 2-6 business days and ships out day of if ordered before 11am which I did. So theoretically they should all arrive sometime this week or midway through the next.

[2018-09-25 22:42] ababaian commented on #26
That should be OK in theory : ) If it comes this week, the weather is good this weekend and I have some free time. I could do the tie-dye this one afternoon this weekend so we have everything done by Monday and we don't have to pay the Rush order costs. If this doesn't work out then we just need to do it some time next week/weekend and we pay the difference.

[2018-09-26 01:08] ababaian commented on #9
@SweetiePi would you be able to send me the high/original resolution of the image so I can get some stickers printed?

[2018-09-26 06:23] alexsweeten commented on #9
@ababaian Sure, I've added it to our media folder [here](https://github.com/hackseq/hackseq18/blob/master/media/nirvana_hackseq.jpg)

[2018-09-26 19:29] jenjaelin commented on #26
got the shipping confirmation today! fingers crossed it'll come in this week

[2018-09-27 20:34] ababaian commented on #29
@jenjaelin Are we meeting tonight?

[2018-09-27 20:47] baraaorabi commented on #29
I believe we are.

On Thu, Sep 27, 2018, 1:34 PM Artem Babaian <notifications@github.com>
wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-09-27 20:50] smaslova commented on #29
I won't be able to make it tonight!

On Thu, Sep 27, 2018 at 1:47 PM baraaorabi <notifications@github.com> wrote:

[2018-09-27 20:57] jenjaelin opened #33 "12th Organizational Meeting - Thursday Sept. 27 at 6PM"
# Agenda

## Shirts + Swag
- Order is supposedly being delivered today, arrange drop off/pick up with Artem

## Participants
- debrief on sorting/RSVP

# Minutes

## Participants
-  34 replies
- after Friday check count before contacting wait list
- send to wait list on Saturday, need finalized list by Wednesday for server space

## Swag
- stickers ordered
- tie-dye this weekend, Artem to pick up

[2018-09-27 20:57] jenjaelin commented on #33
See y'all this evening at 6pm!

[2018-09-27 21:09] jenjaelin commented on #33
Also, found a couple extra floppy disks. But no idea if there's anything on them. Anyone have a machine that still reads those things?

[2018-09-28 00:16] vlauu commented on #33
Hey guys, something came up so won’t be able to come to meeting today

[2018-09-28 00:45] #24 closed

[2018-09-28 17:01] #29 closed

[2018-09-28 19:48] ababaian commented on #26
Did it arrive yesterday @jenjaelin ?

[2018-09-28 20:16] jenjaelin commented on #26
![image](https://user-images.githubusercontent.com/37309499/46231427-b81bce80-c320-11e8-89eb-54f096105c36.png)
-.-

[2018-09-28 20:19] ababaian commented on #26
`-_-

[2018-09-29 03:42] jenjaelin commented on #26
It arrived!!! Can you come pick it up in the morning??

[2018-09-29 03:48] ababaian commented on #26
Yep! I can. @jenjaelin + @klgray25 + anyone else, if you're up for making the tie-dye tomorrow let's do it around noon. I'm stoked for a lazy few hours futzing around with this.

[2018-09-29 04:34] klgray25 commented on #26
I can do around noon. Where?

[2018-09-30 19:08] ababaian commented on #26
@jenjaelin Give me a shout when to pop by and pick up the shirts!

[2018-09-30 20:46] jenjaelin commented on #26
Last load in the dryer right now but I'm out currently.  Best is probably after 7 or so?

J

[2018-09-30 22:42] jenjaelin commented on #26
Hey! I'm actually home now so feel free to drop by whenever :)

J

[2018-10-01 00:40] ababaian commented on #26
KK Jen; I'm OMW now.

[2018-10-02 22:52] jenjaelin opened #34 "Penultimate (a.k.a. 13th) Organizational Meeting - Thursday Oct. 4th at 6PM"
## Minutes
Hi there! this is a mess and will be fixed by the end of tomorrow. Cheers! ~J
## Swag
- shirts ready wednesday
- stickers before thursday
- Artem to get back with prices

## TLs
- added to slack
- add everyone to general, then have TLs respin
### Email reminder
- git stuff
- what to tell participants
- requirements for writing
- TL slack

## Participants
- everyone who wanted to go and

[2018-10-02 22:52] jenjaelin commented on #34
hey all! new agenda up and running post your agenda items please!

[2018-10-04 16:30] baraaorabi commented on #34
Cya all this evening!

[2018-10-05 04:40] emreerhan commented on #34
Something I'm not sure if we've considered: we should acquire long power strips and extension cords to power everyone's laptops. Has this already been taken care of?

[2018-10-05 04:49] baraaorabi commented on #34
Oh this is actually important. Maybe when they setup the wifi they would
setup the cords too?

On Thu, Oct 4, 2018, 9:40 PM Emre Erhan <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-10-05 04:54] jenjaelin commented on #34
if we are using the long strip tables in the LSC lobby, they all have power
ports embedded in the tables. It's only one of the lobbies tho so I don't
know which one we booked

On Thu, Oct 4, 2018 at 9:49 PM baraaorabi <notifications@github.com> wrote:

[2018-10-05 19:16] ababaian opened #35 "#BioHaiku Contest"
![biohaiku](https://user-images.githubusercontent.com/9220907/46555279-4e786300-c8d2-11e8-8ad9-f97a5f18a4dc.png)

** Promotional Copy **

The competition will run from Tuesday 9th AM - Sunday 14th Noon. We'll accept haiku entries via twitter / email. If you'd like to join the judging panel let me know. Otherwise I suggest y'all write some haiku for entries. It would be great to have a few lined up

[2018-10-06 03:18] NoushinN commented on #34
Could I make a pre/post event survey to emailed to participants/team leads/organizing committee?

[2018-10-07 00:18] jenjaelin opened #36 "LAST Organizational Meeting - Thursday Oct. 11th post VanBUG (7PM) **Please see To Dos!"
# To Do:
### Food orders
- [ ] Kristen - Subway
- [ ] Justin - Starbucks Coffee
- [ ] Baraa - Chipotle

## Writing workshop
- [x] Jenny and Baraa to hash out plans

## Logistics and tasks
- [x] Print out Attendee list organized by team / days people will show up for us to register people coming in and give out name tags (5x logos, 1 registration sign, 5x schedule)
- [x] Can someone bring a camera

[2018-10-07 00:29] jenjaelin commented on #36
To Do lists are up!

[2018-10-08 21:47] NoushinN commented on #36
here's a survey to send to team leads, participants, and organizing committee, please feel free to add/subtract/modify https://docs.google.com/forms/d/1aXHaO9QaGOte-eCrdDVntg6YQPraAC__DVs9MhHbBO4/edit?usp=drive_open&ths=true

[2018-10-08 21:48] NoushinN commented on #36
and the haiku contest is advertised on twitter

[2018-10-08 22:34] ababaian commented on #36
If it's OK the plan is to open the contest tomorow morning and I'll be able to post some Haiku right away. I can do this side of things on twitter / social media.

I've deleted the tweets for now.

[2018-10-08 23:13] NoushinN commented on #36
sure, sounds good

[2018-10-09 06:40] ababaian commented on #36
Sorry, I can't make the meeting guys. I'm taking a mushroom class and the first night got moved to Thursday 7pm. I can chat briefly before VanBug if there's something or if y'all need me to pick something up to drive to the event.

[2018-10-09 16:48] ababaian commented on #35
Contest is open : ) Submit your entries

[2018-10-09 23:47] vlauu commented on #34
@ababaian  FYI MSFHR offered to provide us with pens, including postcards about their funding programs, for our event. I'm pending confirmation on the number of pens they can send us.

And for the sponsor that will visit hackseq, she is Agnes Baross from Genome BC (not MSFHR that I mentioned before - my bad for the mistake!)

[2018-10-10 00:15] ababaian commented on #34
kk I won't buy too many pens then

[2018-10-10 00:21] bfjia commented on #34
@smaslova I'm paying for the coffee I think, do you have an invoice?

[2018-10-10 15:50] ababaian commented on #35
We're up to 12 entries :)

Share the contest with your colleagues, a few people in my department were quite stoked to write haikus.

[2018-10-10 19:23] smaslova commented on #34
@imasianxd you can come pick up the coffee with me on Friday and pay for all of it then.  It's from the Starbucks across the street

[2018-10-10 20:38] bfjia commented on #34
^ Sounds good.

[2018-10-10 21:15] jenjaelin commented on #36
Heya! I don't recall who was supposed to send out the reminder emails for participants and TLs, but those should probably be done later today or by early afternoon tomorrow? Especially if we want to give the TLs time to send stuff to their team as well.

[2018-10-11 00:49] baraaorabi commented on #36
@smaslova Do you still need me to pay for Chipotle? Please let me know

[2018-10-11 01:20] baraaorabi opened #37 "Last email before hackseq to participants"
Dear hackseq participant,

Hackseq18 is just around the corner!

The fabulous weekend will start **this Friday** at [East Atrium Life Sciences Institute (LSI)](https://goo.gl/maps/5VGpjdDW1D82) in University of British Columbia (UBC).

**Maybe something about Slack invitiation**

We will be there by **8:30AM** for coffee (and tea of course!) and snacks to sign you in too.
The full [schedule](https

[2018-10-11 01:20] baraaorabi commented on #37
Let me know if I missed anything, if not, I will send this tomorrow morning

[2018-10-11 01:30] baraaorabi commented on #36
I'm drafting both email to the TL's and the participants. Should I have the Slack invitation added to the participants email?

[2018-10-11 01:51] baraaorabi opened #38 "Last email to TL's"
Dear hackseq team lead,

Hackseq18 is just around the corner!

The fabulous weekend will start **this Friday** at [East Atrium Life Sciences Institute (LSI)](https://goo.gl/maps/5VGpjdDW1D82) in University of British Columbia (UBC).

We will be there by **8:30AM** for coffee (and tea of course!) and snacks to sign you in too. The full [schedule](https://hackseq.github.io/hs18/2018/08/11/Schedule.h

[2018-10-11 01:56] smaslova commented on #36
Chipotle needs to be picked up on Sunday and we'll pay for it then.

On Wed, Oct 10, 2018, 5:49 PM baraaorabi, <notifications@github.com> wrote:

[2018-10-11 04:59] emreerhan commented on #38
You have my blessing

[2018-10-11 05:07] bfjia commented on #38
+1 very comprehensive

[2018-10-11 08:19] NoushinN commented on #38
yes agree, looks great! BUT
are we not sending a pre-hackseq survey to track how well we met the expectations after?? this will help with a story impact pub....

[2018-10-11 15:10] ababaian commented on #38
Looks good, I just added that a scientific abstract is part of the requirements for completion.

[2018-10-11 15:31] ababaian opened #39 "Tie-Dye Sweaters"
Hey @hackseq/hs18_org,

The tie-dye shirts are back from the printer. When you get a chance look through them and you can choose which one you want, just please choose the size you put down in the order form.

- [x] 01M: Baraa
- [x] 02S: Sasha
- [x] 03M: Alex
- [x] 04M: Kristen
- [x] 05M: Justin
- [ ] 06S:
- [x] 07S: Artem
- [x] 08S: Venus
- [ ] 09M:
- [x] 10S: Jen

### 01M + 02S
![01m_02s](https:

[2018-10-11 16:18] vlauu commented on #36
@ababaian  MSFHR is sending us 25 pens + postcards. hopefully they arrive by the end of today...

[2018-10-11 16:43] jenjaelin commented on #36
@baraaorabi probably a good idea to have it.

[2018-10-11 16:58] #37 closed

[2018-10-11 17:01] #38 closed

[2018-10-11 17:06] baraaorabi commented on #36
If you haven't, please join the Slack

[2018-10-11 17:07] jenjaelin commented on #36
brb while I download slack XD

[2018-10-11 17:13] smaslova commented on #36
What's the workspace?

On Thu, Oct 11, 2018 at 10:07 AM jenjaelin <notifications@github.com> wrote:

[2018-10-11 17:20] baraaorabi commented on #36
https://github.com/hackseq/hackseq18_private/issues/22

[2018-10-11 20:46] #9 closed

[2018-10-11 21:41] baraaorabi commented on #36
I won't be able to attend the meeting after VanBUG. Our lab mate is going back to Germany and we are going out after VanBUG to pay him farewells. I will be around CRC before VanBUG.

[2018-10-12 00:26] baraaorabi commented on #36
I am down in CRC lobby if any of you guys is around

[2018-10-12 03:52] jenjaelin commented on #36
@emreerhan oh no. the minutes didn't save ;_; sorry!!! hope you got what to print. idk what happened

[2018-10-12 04:01] emreerhan commented on #36
I think I got all of that :)

[2018-10-12 14:32] jenjaelin commented on #36
Hey all! If you're having trouble finding LSI, give me a call at (519) 498-1555

See y'all in a bit!
J

[2018-10-12 14:48] vlauu commented on #36
Which atrium in LSI are we supposed to go?

On Oct 12, 2018, at 7:32 AM, jenjaelin <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey all! If you're having trouble finding LSI, give me a call at (519) 498-1555

See y'all in a bit!
J

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/hackseq/hackseq18/issues/36#is

[2018-10-12 15:04] baraaorabi commented on #36
If it's just like last year, then it is the one with the big tables and
just vast open space.

On Fri, Oct 12, 2018, 7:48 AM Venus Lau <notifications@github.com> wrote:

[2018-10-12 16:37] #34 closed

[2018-10-12 17:35] #39 closed

[2018-10-12 17:35] #17 closed

[2018-10-12 18:52] jenjaelin opened #40 "Writing Workshop"
# Day 1
## Read Me
### Optional Contents
- small descr of tool
- software req - what libraries, prereqs, what system it was tested on
- installation instructions
- output format
- help (parameters, how to use)

### Optional Contents
- document subtopics in the pipeline with separate readme that are linked
- Use cases

### Examples
-

# Day 2
## Abstract and Technical Paper
- post lunch + late afte

[2018-10-13 05:45] ababaian opened #41 "wiki: emails + comm"
Good start to the [email/comm page](https://github.com/hackseq/hackseq18/wiki/Email-and-communication) @baraaorabi

Might I suggest compiling all hackseq communication emails which were sent out into a single folder on the google drive and linking them appropriately throughout the wiki page?

[2018-10-13 05:46] #21 closed

[2018-10-13 05:46] ababaian commented on #26
See #39

[2018-10-13 05:46] #26 closed

[2018-10-13 05:46] #33 closed

[2018-10-13 17:51] ababaian opened #42 "Wrap up email draft"
We should send a wrap-up email to all participants + sponsors after the event is complete.

--------------------------------

Good morning hackseqrs,

A big thank you to all the participants, team leaders, mentors, sponsors and fellow organizers for making hackseq18 a huge success. We'd like to give an especially big thank you to our main sponsor ECOSCOPE for their continued partnership.

## Peopl

[2018-10-13 22:17] jenjaelin opened #43 "Debrief Meeting - Monday October 22, 6PM"
# To Do:
- [x] [vote](https://doodle.com/poll/sgeydcv2e2k2hxax) on debrief date
- [ ] task write ups in the [wiki](https://github.com/hackseq/hackseq18/wiki)
- [ ] add things to agenda

# Agenda
- Send final follow-up Thank you email to Team Leaders / Follow up with Sponsors
- finalize budget
- how to build projects (apply as teams vs. apply as individuals)
- publications
  - funding possibility f

[2018-10-13 23:12] #41 closed

[2018-10-14 00:05] ababaian commented on #43
Include a bell to ring at the end of hte day to demarcate the end of the work period.

[2018-10-14 20:16] imasianxd opened #44 "sponsorship slides"
[hackseq partners.pptx](https://github.com/hackseq/hackseq18/files/2476839/hackseq.partners.pptx)

[2018-10-15 02:15] baraaorabi opened #45 "I lost my laptop charger"
Is anyone going to be on UBC campus tomorrow? I can't find my laptop charger and I suspect that I left it in the theatre room 😕

[2018-10-15 02:17] alexsweeten commented on #45
I'm still staying with my friend on campus, I can check tomorrow morning!

[2018-10-15 02:18] baraaorabi commented on #45
Awesome! Thnx Alex. I think it might be under the presenter pod in the
threatre

On Sun, Oct 14, 2018 at 7:17 PM Alex Sweeten <notifications@github.com>
wrote:

--
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-10-15 04:12] ababaian commented on #42
Can we also send a short personalized email to each of the team-leads as a ty?

[2018-10-15 04:36] ababaian commented on #42
Note: I'm not sure what the URL is to the team beRi repo they were working on. The main beRi repo hasn't been updated in a few months. Wait till we hear back from Rob about what the correct repo is.

[2018-10-15 05:26] smaslova commented on #45
I just discovered a mystery charger in backpack that I must have grabbed by
accident.  What does yours look like?

On Sun, Oct 14, 2018 at 7:19 PM baraaorabi <notifications@github.com> wrote:

[2018-10-15 14:33] baraaorabi commented on #45
It's all black. The adapter part is not heavy rectangle. The outlet part is standard US style power outlet with the third earth thingy. I think the adapter has a tiny sticker that says June or July 2016

[2018-10-15 14:35] baraaorabi commented on #42
beRi has three sub repos that are linked to from the main repo.

On Sun, Oct 14, 2018, 9:36 PM Artem Babaian <notifications@github.com>
wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-10-15 16:15] alexsweeten commented on #45
Checked both the life sciences atrium and the presentation room. Couldn't see it 😥

[2018-10-15 16:21] baraaorabi commented on #45
Thanks Alex! I guess my hope is that it's the one with Sasha

On Mon, Oct 15, 2018, 9:15 AM Alex Sweeten <notifications@github.com> wrote:

--
----
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-10-15 16:50] #44 closed

[2018-10-15 17:13] jenjaelin commented on #45
also managed to leave my phone charger plugged in at one of the seats -_-; ah well

[2018-10-15 17:17] jenjaelin commented on #43
Hey y'all! please vote on a debrief meeting date by the end of today if possible!

[2018-10-15 19:28] baraaorabi commented on #43
We are missing 3rd day registration. Who has the paper?

[2018-10-15 19:30] baraaorabi commented on #42
I drafted the email on Gmail. Will send it in an hour

[2018-10-15 19:31] emreerhan commented on #42
@baraaorabi I added a part about computing resources, please add that to it.

[2018-10-15 19:43] jenjaelin commented on #43
the last I knew of it, @NoushinN had it at the last table

[2018-10-15 19:45] ababaian commented on #42
Hey @baraaorabi can you add everyone from this year's hackseq to the mailing list and send this email out to the entire hackseq mailing list and our sponsors from this year?

[2018-10-15 19:47] ababaian commented on #43
I have Day 3 registration, I will be updating it now.

[2018-10-15 19:57] NoushinN commented on #42
ok, so here's 7Gate: http://7gate.vc they have offered free space for up to one month in their Gastown office location for anyone who wants to work on their project further. This is especially true for those who would want to pitch it to investors, etc. I am getting the contact info to include, where would the text go?

[2018-10-15 19:59] NoushinN commented on #45
boo

[2018-10-15 19:59] #45 closed

[2018-10-15 20:00] ababaian commented on #42
I think we can put that down in the sponsor section, do we have a coupon code or specific contact info? You can slack it on the organizers channel

[2018-10-15 20:11] ababaian commented on #42
Also can we add this as p.s?

[Bonus TaraCyc Team Visualization](https://twitter.com/OganM/status/1051716775094628352)

[2018-10-15 20:29] baraaorabi commented on #42
@ababaian yeah I will send it to the mailing list after adding all TL's and participants to it. I also will add the TaraCyc thingy
@emreerhan will add that to the email
@NoushinN you can edit the sponsors section in this issue to add the 7Gate info. Please include what they have to tell 7Gate contact to get the space sponsorship

[2018-10-15 20:41] smaslova commented on #45
Baraa are you ok with me bringing it to the next meeting or do you need it
ASAP?

On Mon, Oct 15, 2018 at 9:21 AM baraaorabi <notifications@github.com> wrote:

[2018-10-15 20:47] ababaian commented on #35
38 entries total: winner and all entries can be found at hackseq.com/biohaiku

[2018-10-15 20:47] #35 closed

[2018-10-15 20:48] #30 closed

[2018-10-15 20:49] #36 closed

[2018-10-15 20:52] baraaorabi commented on #45
@smaslova I messeged you on Messenger

[2018-10-15 20:53] #40 closed

[2018-10-15 20:55] ababaian commented on #42
What do you think? hackseqers vs hackseq'rs?

Also added I changed the publication section a bit to link to bioSyntax *end plug*

[2018-10-15 21:07] baraaorabi commented on #42
I am team hackseqer.

I am editing the final draft of the email [here](https://docs.google.com/document/d/1D7Ey5oEi-zdjb37lMfN3sWGZ71d7rR3TW-x7o5uUmx0/edit)

[2018-10-15 21:19] ababaian commented on #42
you would be.

[2018-10-15 21:55] baraaorabi commented on #42
I will send out the email by 5pm if no one has objections. @NoushinN did you add the 7Gate part to the Google Doc email draft here?
https://docs.google.com/document/d/1D7Ey5oEi-zdjb37lMfN3sWGZ71d7rR3TW-x7o5uUmx0/edit

[2018-10-15 22:32] NoushinN commented on #42
DID @baraaorabi 💯  did you find your charger?

[2018-10-15 22:35] jenjaelin commented on #43
Hey all! Set the debrief meeting for next Monday at 6PM. Gives us a little time to get the written bits done but also not run too far into next week.

See y'all in a week!

[2018-10-15 23:59] baraaorabi commented on #42
@NoushinN it is with Sasha :smile:

[2018-10-16 00:22] NoushinN commented on #42
@baraaorabi  the hackseq email went out without 7gate being part of it!!

[2018-10-16 00:24] baraaorabi commented on #42
I thought you added that to the Google doc of the draft of the email :-/

[2018-10-16 00:25] NoushinN commented on #42
oh added it to this repo...oh well..I don't think anyone would need venture support at this point

[2018-10-16 00:26] baraaorabi commented on #42
I guess we can send that with the personalized email to the TL's

[2018-10-16 00:29] NoushinN commented on #42
yes! that would probably work even better

[2018-10-18 21:40] #42 closed

[2018-10-22 03:11] ababaian commented on #43
Heya gang,

I'm heading to The Hive tomorrow after this meeting. I'll take my car which is ~5 minute walk from CRC, if you're interested in coming bring some gym clothes / shoes and we can take a ride over together. All welcome : )

[2018-10-22 23:24] alexsweeten commented on #43
Folks decided to visit me last minute, so unfortunately I can't make the meeting today.

[2018-10-23 17:15] baraaorabi opened #46 "TL's Thank you email"
Draft [here](https://docs.google.com/document/d/1krVI94_yjqe_BLt3zg3Wll8RI7feyunXriH0w61hKSg/edit)

[2018-10-26 19:03] ababaian commented on #43
@hackseq/hs18_org the wiki updates are due today such that I can send out the email Monday morning.

[2018-10-26 19:16] jenjaelin opened #47 "To Dos and Social date - check back later!"
# Social Date
Vote [HERE](https://doodle.com/poll/xp4qwmm3ebk38yyd) apologies it is veeery long

# To Dos
- [ ] send follow up email with thank yous + photos for Sponsors
- [ ] get thoughts from TLs about what they thought for leading a team, what resources they would like in the future
  - Baraa to draft letter
  - include Noushin's workspace
- [ ] make a wiki for TLs - give expectations for them

[2018-10-26 19:42] jenjaelin commented on #43
I thought we agreed on two weeks? I think I meant to write next next friday :x

can someone confirm/deny if I'm crazy?

[2018-10-26 19:46] ababaian commented on #43
Damn we did meet earlier this week... It's been a long week, I'm the crazy one.

[2018-10-26 19:47] jenjaelin commented on #43
No worries lol. I also had the "oh no, we met two weeks ago and I'm way behind" moment.

[2018-10-31 21:39] jenjaelin commented on #47
Apologies everyone for the delay. Please vote on a social date, and take a look at the compiled list of To Dos.

Also, reminder that wikis are due Friday night :)

[2018-11-05 18:46] ababaian opened #48 "hackseq Organizational wiki"
@hackseq/hs18_org, @hackseq/steering_committee, @hackseq/steering_committee_2016

Hello all hackseq organizers,

During hackseq18, the organizers decided to create a [hackseq oranizer's wiki](https://github.com/hackseq/hackseq18/wiki) containing all the necessary information for future organizers.

The goals are three-fold:
1. Make the organization of all future hackseq stream-lined / easier.
2. E

[2018-11-06 00:13] NoushinN commented on #48
Hi Artem, are we still going for a hackseq18 publication or is the plan to combine all 5 years into a 2020 report? I am interested in helping out either way!

[2018-11-06 16:59] ababaian commented on #48
Hey @NoushinN, we weren't sure what we'd write about a hackseq18 publication but in discussing it the idea came up of doing a reflective paper at the 5 year mark. Our job is to start compiling the information for this and planning ahead a bit more long-term.

[2018-11-10 21:13] NoushinN commented on #43
how are we doing here? anything pressing? I am still coming to terms with hackseq18 inactivities

[2018-11-19 02:17] jenjaelin commented on #47
Hi all,

I managed to pick a trip that had no cell reception or wifi (oops). However, I am back now, if you have not voted for the doodle, PLEASE do it before Tuesday. I will finalize the doodle for Tuesday.

THANKS!

[2018-11-27 19:23] klgray25 commented on #47
Hey guys,

Does Saturday the 15th still work best for most people?

Kristen

[2018-11-27 19:32] baraaorabi commented on #47
Good with me :-D

On Tue, Nov 27, 2018 at 11:23 AM klgray25 <notifications@github.com> wrote:

--
Baraa Orabi
Simon Fraser University
Department of Computing Science

[2018-11-27 19:41] jenjaelin commented on #47
Yep. Thank you Kristen!

J

[2018-11-27 19:43] emreerhan commented on #47
Yup

[2018-11-27 22:06] smaslova commented on #47
Works for me!

[2018-11-27 22:33] ababaian commented on #47
We have the Aviary booked from 11AM - 2PM. Whoever can belay, we can show up first 11-12 and do the belay tests, then the rest can get there at ~noon and we'll have a blast :)

[2018-11-28 00:35] alexsweeten commented on #47
Great! Will be there :)

[2018-12-11 21:30] ababaian commented on #47
@hackseq/hs18_org bump, we're meeting this Saturday at The Aviary.

Anyone who can belay, please come at 11 AM and we'll do the Belay tests, for everyone else 12 noon and we can get everyone set up and climbing : ) Also we should think about what food we want to order for supper.

[2018-12-11 21:40] emreerhan commented on #47
The Aviary
University of British Columbia, University Endowment Lands, BC V6T 2A1
https://maps.app.goo.gl/BzEM6

Is this it?

[2018-12-11 21:43] ababaian commented on #47
That's the one

[2018-12-12 00:28] klgray25 commented on #47
Yay! I'm so excited :) See you guys Saturday!

[2018-12-15 18:37] jenjaelin commented on #47
Running a tad late. Should be there ~ quarter after 11

[2018-12-15 18:39] alexsweeten commented on #47
I’m belaying and will be there around 11:30.

[2018-12-15 18:49] klgray25 commented on #47
Same

Sent from my iPhone

[2018-12-15 18:51] NoushinN commented on #47
I am Island living, have fun all!

[2018-12-15 19:05] baraaorabi commented on #47
I'm on my way. Will be there by noon.

On Sat, Dec 15, 2018, 10:37 AM jenjaelin <notifications@github.com wrote:

[2018-12-15 19:37] emreerhan commented on #47
I'm going to be there around 12:45

[2018-12-15 19:55] ababaian commented on #47
FYI: The climbing wall is on the second floor of the Student Center, walk past the Art Gallery.

[2018-12-17 18:35] #31 closed

[2018-12-17 18:36] #43 closed

[2018-12-17 18:36] #46 closed

[2018-12-17 18:37] ababaian commented on #47
@NoushinN can you shoot me an email with your address in Victoria so I can mail you the reimbursement cheque?

[2018-12-17 18:37] #47 closed

[2018-12-17 19:07] NoushinN commented on #47
Thank you Artem, this is my address: 205-423 Superior street, Victoria, BC,  V8V 1T5

[2019-01-15 22:06] emreerhan opened #49 "hackseq19 organizer recruiting"
Hi folks,

Let's start sending out feelers for people interested in organizing hackseq19, with the goal of having a first organizational meeting sometime late February.

I encourage you guys to send out the recruiting email to relevant mailing lists:

So far I've sent emails to:
* Sharon, for the bioinformatics program mailing list
* The bioinformatics social group (boings)

If you send the email

[2019-02-01 17:24] ababaian opened #50 "Job Posting at STEMCELL"
Hey all,

A bioinformatician I used to work with at the Terry Fox Labs now works for STEMCELL Technologies in Vancouver and he's looking to hire another talented bioinformatician, someone with experience and ~MSc in related field. If you know of anyone who would be interested pass along the message.

https://jobs.stemcell.com/job/vancouver/research-associate-computer-science/8172/9782116

Also thi

[2019-02-04 17:04] emreerhan commented on #49
Hey @hackseq/hs18_org, if you want to organize again next year, or if you want to help out next year's organizers get set-up, please fill out the doodle poll in [this issue](https://github.com/hackseq/hackseq19/issues/2).

[2019-02-04 18:33] #50 closed

[2019-03-29 03:32] #49 closed